<template>
    <div class="topics">
        <div class="container">
            <div class="topics-head">
                <h5> المقالات </h5>
            </div>
            <vs-button style="margin-bottom:15px" @click="popupadd = true, url='',photo=''" color="success" type="filled"> إضافة </vs-button>
            <Loading v-if="isLoading" />
            <div v-else class="topics-body">
                <div class="row">
                    <div class="col-md-4" v-for="topic in topics" :key="topic.id">
                        <div class="topic-card">
                            <div class="topic-image"  @click="$router.push(`/topics/${topic.id}`)">
                                <img v-if="topic.image" :src="topic.image" alt="">
                                <img v-else src="../../assets/imgs/imagenotfound.png" alt="">
                            </div>
                            <div class="topic-name"  @click="$router.push(`/topics/${topic.id}`)">
                                <h5> {{topic.name}} </h5>
                            </div>
                            <div class="topic-buttons">
                                <vs-button @click="editTopic(topic)" color="success" type="filled"> تعديل </vs-button>
                                <vs-button @click="deleteTopic(topic)" color="danger" type="filled"> حذف </vs-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




          <vs-popup class="holamundo"  title="تعديل القسم" :active.sync="popupedit">
              <Loading v-if="isLoading" />
            <div v-else>
                <div class="form-group">
                    <input v-model="currentTopic.name" type="text" class="form-control">
                </div>

                <div class="file-choose">
                  <input type="file" @change="fileSelected" multiple placeholder="قم بأرفاق أيقونه" />
                  <span v-if="url" >
                                        <img style="width:25%;margin:auto}" :src="url" />

                  </span>
                  <span v-else>
                    <img src="@/assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div>
                <vs-button @click="editTopicMain" color="success" type="filled"> تعديل </vs-button>

            </div>
          </vs-popup>




               <vs-popup class="holamundo"  title="إضافة قسم جديد" :active.sync="popupadd">
              <Loading v-if="isLoading" />
            <div v-else>
                <div class="form-group">
                    <input v-model="addTopic.name" type="text" class="form-control">
                </div>

                <div class="file-choose">
                  <input type="file" @change="fileSelected" multiple placeholder="قم بأرفاق أيقونه" />
                  <span v-if="url" >
                                        <img style="width:25%;margin:auto}" :src="url" />

                  </span>
                  <span v-else>
                    <img src="@/assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div>
                <vs-button @click="addNewTopic" color="success" type="filled"> إضافة </vs-button>

            </div>
          </vs-popup>
    </div>
</template>


<script>
import Loading from '@/components/Loading'
export default {
    components:{
        Loading
    },
   
    created(){
        this.$axios.get('sections').then(res => {
            console.log(res)
            this.topics = res.data
        }).finally(() => this.isLoading = false)
    },
    data(){
        return{
            currentTopic:{
                name:''
            },
            addTopic:{
                name:''
            },
            popupedit: false,
            isLoading: true,
            topics: [],
            url:'',
            photo:'',
            popupadd: false
        }
    },
    methods:{
        addNewTopic(){
             this.isLoading = true
            let form_data = new FormData()
            form_data.append('name', this.addTopic.name)
            form_data.append('image', this.photo)

            this.$axios.post(`sections`, form_data ).then(res => {
                this.topics.push(res.data)
                console.log("added",res.data)
                this.addTopic.name = ''
                this.$snotify.success("تم الإضافة بنجاح")
                this.popupadd = false
            }).finally(() => this.isLoading = false)
        },
        editTopicMain(){
            this.isLoading = true
            let form_data = new FormData()
            form_data.append('name', this.currentTopic.name)
            form_data.append('image', this.photo)

            this.$axios.put(`sections/${this.currentTopic.id}`, form_data ).then(res => {
               let x = this.topics.findIndex(obj => obj.id == this.currentTopic.id)
                this.topics[x] = res.data
                console.log("edited",res.data)
                this.$snotify.success("تم التعديل بنجاح")
                this.popupedit = false
            }).finally(() => this.isLoading = false)
        },
        deleteTopic(obj){
               this.$snotify.confirm("هل تريد حذف القسم المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = true;

              this.$axios
                .delete(`sections/${obj.id}`)
                .then((res) => {
                    console.log(res)
                  let x = this.topics.find((topic) => topic.id === obj.id);
                  let y = this.topics.indexOf(x);
                  this.topics.splice(y, 1);
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch((err) => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                  console.log(err)
                })
                .finally(() => (this.isLoading = false));
            },
          },
          {
            text: "إلغاء",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = false;
            },
          },
        ],
      });
        },
        fileSelected(e) {
            if (e.target.files.length > 0) {
                this.url = "";
                // console.log("files", e.target.files);
                this.photo = e.target.files[0];
                this.url = URL.createObjectURL(this.photo);
                // console.log(e.target.files[0]);
            }
        },
        editTopic: function(obj){
            this.currentTopic = obj
            this.popupedit = true
            this.url = obj.image
            this.photo = obj.image
        }
    }
}
</script>


<style lang="scss" scoped>
.topics{
    .topics-head{
        h5{
            
                font-size: 27px;
    color: #333;
    padding-bottom: 15px;
        }
    }

    .topics-body{
        .topic-card{
                box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dadada;
    padding-top: 20px;
    transition: all .5s ease;
    cursor: pointer;
    &:hover{
        transform: translateY(-10px);
    }

            .topic-image{
                    width: 229px;
    height: 79px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 15px;

                img{
                    width:100%;
                    height:100%;
                }
            }
            .topic-name{
                h5{
                    text-align: center;
                }
            }
        }
    }
}
</style>