<template>
  <div class="city-page">
      <div class="container">
          <div class="city-inner">
              <vs-button @click="addCityPopup = true" type="gradient" color="warning">إضافة لون</vs-button>
              <Loading v-if="isLoading" />
              <div v-else class="fetch-city">
                  <div class="row">
                      <div class="col-md-3"  v-for="city in fetchCity" :key="city.id">
                            <div class="onecity"> 
                      <h6> <span>الإسم:</span> {{city.name}} </h6>
                       <h6> <span>تكلفة التوصيل السريع:</span> {{city.fastDeliveryCost || 'لا يوجد'}} </h6>
                        <h6> <span>تكلفة التوصيل العادي:</span> {{city.normalDeliveryCost}} </h6>
                        <h6> <span>يوجد توصيل سريع:</span> {{city.hasFastDelivery}} </h6>
                      <div>
                          <vs-button style="padding:5px 10px;" color="success" @click="editCityHandle(city)"> <i class="fas fa-edit"></i> تعديل</vs-button>
                      <vs-button style="padding:5px 10px;" color="danger" @click="deleteCity(city)"> <i class="fas fa-trash-alt"></i> حذف</vs-button>
                      </div>
                  </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


       <vs-popup class="holamundo"  title="إضافة لون جديد" :active.sync="addCityPopup">
           <Loading v-if="isLoading" />
     <div v-else>
         <div class="form-group">
             <input type="text" class="form-control" v-model="addCity.name" placeholder="اسم المدينة">
         </div>
         <div class="form-group">
             <input type="number" class="form-control" v-model="addCity.fastDeliveryCost"  placeholder="سعر التوصيل السريع">
         </div>
         <div class="form-group">
             <input type="number" class="form-control"  v-model="addCity.normalDeliveryCost"  placeholder="سعر التوصيل العادي">
         </div>
         <div class="form-group">
             <label for="">هل يمتلك توصيل سريع</label>
            <v-select :reduce="option => option.value" :getOptionLabel="option => option.name" v-model="addCity.hasFastDelivery" label="name" :options="deliveryFast"></v-select>
         </div>

        <vs-button @click="addCityMain" color="warning">إضافة مدينة</vs-button>

     </div>
    </vs-popup>



     <vs-popup class="holamundo"  title="تعديل لون معين" :active.sync="editCityPopup">
         <Loading v-if="isLoading" />
     <div v-else>
         <div class="form-group">
             <input type="text" class="form-control" v-model="editCity.description" placeholder="وصف التوصيل">
         </div>
         <div class="form-group">
             <input type="number"  v-model="editCity.deliveryDays"  placeholder="عدد أيام التوصيل" class="form-control">
         </div>

        <vs-button @click="editCityMain" color="warning">تعديل المدينة</vs-button>

     </div>
    </vs-popup>

  </div>
</template>

<script>
import Loading  from '@/components/Loading'
export default {
    components:{
        Loading
    },
    data(){
        return {
            addCityPopup: false,
        editCityPopup: false,
        addCity:{
            "name": "",
        "fastDeliveryCost": '',
        "normalDeliveryCost": '',
        "hasFastDelivery": '',
        },
        deliveryFast:[
            {name:"نعم", value:true},
            {name:"لا", value:false},
        ],
        editCity:{
           description: "",
           deliveryDays:''
        },
        fetchCity:[],
        isLoading: true,
        }
    },
    created(){
        this.$axios.get('city').then(res => {
            console.log(res)
            this.fetchCity = res.data
        }).finally(() => this.isLoading = false)
    },
    methods:{


        deleteCity(city){
             this.$snotify.confirm("هل تريد حذف المدينة المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = true;

              this.$axios
                .delete(`city/${city.id}`)
                .then((res) => {
                    console.log(res)
                  let x = this.fetchCity.find((obj) => obj.id === city.id);
                  let y = this.fetchCity.indexOf(x);
                  this.fetchCity.splice(y, 1);
                  
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch((err) => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                  console.log(err)
                })
                .finally(() => (this.isLoading = false));
            },
          },
          {
            text: "إلغاء",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = false;
            },
          },
        ],
      });
        },
        editCityHandle(city){
            this.editCityPopup = true;
            this.editCity = city;
        },
        addCityMain(){
            this.isLoading = true;
            this.$axios.post('city', this.addCity).then(res => {
                console.log(res)
                this.fetchCity.push(res.data)
                this.addCityPopup = false
            }).finally(() => this.isLoading = false)
        },
        editCityMain(){
            this.isLoading = true;
            this.$axios.put(`city/${this.editCity.id}`, this.editCity).then(res => {
                console.log(res)
                let cityIndex = this.fetchCity.findIndex(obj => obj.id == this.editCity.id)
                this.fetchCity[cityIndex] = res.data
                this.editCityPopup = false
            }).finally(() => this.isLoading = false)
        }
    }
}
</script>

<style lang="scss">
.city-page{
    .city-inner{
           box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;

    margin-top: 30px;
    background: #FFF;
    margin-bottom: 30px;
    min-height: 400px;

        .fetch-city{
                padding: 10px;
    background: #fdfdfd;
    padding: 15px;
    margin-top: 30px;
    border: 1px dashed #CCC;
            .onecity{
               margin-left: 15px;
    padding: 20px 15px 35px;
    background: #fff;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    position: relative;
    overflow: hidden;
    &:hover{
            >div{
                left:0;
            }
        }
    >div{
        
        position: absolute;
        bottom: 0;
        width: 100%;
        left:-100%;
        overflow: hidden;
        transition: all .5s ease;
        
        button{
            float: left;
            width: 50%;
            text-align: center;
            &:hover{
            opacity: 1;
        }
        transition: all .5s ease;
        opacity: .5;
        }
    }
            }
        }
    }
}
</style>