<template>
  <div class="posts">
      <div class="container">
          <div class="posts-head">
              <div class="row">
                  <div class="col-md-6"><h4>الإستفسارات</h4></div>
                  <!-- <div style="text-align:left" class="col-md-6">
                      <vs-button @click="addPost" type="filled" color="warning"> إضافة إستفسار </vs-button>
                  </div> -->
              </div>
          </div>
            <Loading v-if="isLoading"/>
          <div v-else class="posts-body" v-for="postComment in postsComment" :key="postComment.id">
              <div class="posts-body-head">
                  <div style="padding: 10px;background: #fbfbfb;">
                      <div class="row">
                      <div class="col-md-1 col-3">
                           <div style="text-align:center" class="post-user">
                                <vs-avatar size="large" :src="postComment.user.photo"/>
                                <h6> {{postComment.user.username}} </h6>
                            </div>
                      </div>
                      <div class="col-md-10 col-9">
                            <div class="post-content">
                                <h5> {{postComment.content}} </h5>
                                    <span> التاريخ/ <span> {{ new Date(postComment.createdAt).toLocaleDateString()}} </span> </span>
                                    <selectedImg :imgUrl="postComment.image"></selectedImg>
                            </div>
                      </div>
                  </div>
                  </div>


                <div>
                    <!-- Using value -->
  <b-button v-b-toggle="'collapse'+postComment.id" class="m-1 collapse-btn"><i class="fas fa-comment"></i> التعليقات</b-button>

  <!-- Element to collapse -->
  <b-collapse :id="'collapse'+postComment.id">
       <div  class="form-group" style="position:relative;">
                          <input v-model="commentToPost" type="text" placeholder="إضافة تعليق" class="form-control">
                          <div style="display: inline-block;position: absolute;top: 0;left: 0;">
                            <div style="position:relative">
                                  <input style="z-index:2;position: absolute;top: 4px;left: 0;width: 32px;opacity: 0;cursor: pointer;" type="file" @change="fileSelected" id="">
                                <i style="position: absolute;top: 10px;left: 7px;color: #febe06;cursor: pointer;" class="fas fa-camera"></i>
                            </div>
                            <vs-button @click="commentToPostMain(postComment)" style="position: absolute;left: 30px;top: 5px;padding: 2px 10px;" color="warning" type="filled" icon-pack="fas fa-paper-plane">  إرسال</vs-button>

                          </div>
                      </div>
                       <selectedImg :imgUrl="url"></selectedImg>
        <div style="padding: 15px;background: #fbfbfb;margin-bottom: 15px;border: 1px solid #ececec;" v-for="comment in postComment.comments" :key="comment.id">
              <div class="row">
                  
                      <div class="col-md-1 col-3">
                           <div style="text-align:center" class="post-user">
                                <vs-avatar size="large" :src="comment.user.photo"/>
                                <!-- <h6> {{comment.user.username}} </h6> -->
                            </div>
                      </div>
                      <div class="col-md-10 col-9">
                            <div class="post-content">
                                <h5> {{comment.content}} </h5>
                                    <span> التاريخ/ <span> {{ new Date(comment.createdAt).toLocaleDateString()}} </span> </span>
                            </div>
                      </div>
                  </div>
        </div>
  </b-collapse>
                </div>
                 
                
              </div>

              <div v-if="postComment.isAuthor" class="postsComment-btn" style="text-align: left;margin-top: 16px;">
                              <vs-button style="padding: 6px 14px;" @click="editAuthorPost(postComment)" color="success" type="filled"> <i class="fas fa-edit"></i> تعديل</vs-button>
                                <vs-button style="padding: 6px 14px;" @click="deleteAuthorPost(postComment)" color="danger" type="filled"> <i class="fas fa-trash-alt"></i> حذف</vs-button>
                          </div>
          </div>

      </div>



       <vs-popup class="holamundo"  title="إضافة إستفسار" :active.sync="popupAddPost">
        <Loading v-if="isLoading" />
        <div v-else>
            <div  class="form-group" style="position:relative;">
                          <input v-model="addNewPost.content" type="text" placeholder="إضافة تعليق" class="form-control">
                           <div class="form-group">
                <div class="file-choose">
                  <input type="file" @change="fileSelected" placeholder="قم بأرفاق أيقونه" />
                  <img v-if="url" :src="url" style="max-width: 100%; max-height: 80%;" />
                  <span v-else>
                    <img src="@/assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div>
              </div>
                            <vs-button @click="addPostMain" color="warning" type="filled" icon-pack="fas fa-paper-plane">  إرسال</vs-button>

                      </div>
        </div>
    </vs-popup>



    <vs-popup class="holamundo"  title="تعديل الإستفسار" :active.sync="popupEditAuthorPost">
        <Loading v-if="isLoading" />
        <div v-else>
            <div  class="form-group" style="position:relative;">
                          <input v-model="addEditedPost.content" type="text" placeholder="إضافة تعليق" class="form-control">
                           <div class="form-group">
                <div class="file-choose">
                  <input type="file" @change="fileSelected" placeholder="قم بأرفاق أيقونه" />
                  <img v-if="url" :src="url" style="max-width: 100%; max-height: 80%;" />
                  <span v-else>
                    <img src="@/assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div>
              </div>
                            <vs-button @click="editAuthorPostMain" color="warning" type="filled" icon-pack="fas fa-paper-plane">  إرسال</vs-button>

                      </div>
        </div>
    </vs-popup>


  </div>
</template>

<script>
import selectedImg from '@/components/selectedImg'
import Loading from '@/components/Loading'
export default {
    components:{
        selectedImg,
        Loading
    },
    data(){
        return{
            addNewPost:{
                content:""
            },
            page:0,
            popupEditAuthorPost:false,
            popupAddPost:false,
            visible:false,
            isLoading:true,
            totalPages:0,
            postsComment:[],
            photo:'',
            url:'',
            commentToPost:"",
            addEditedPost:{
                "content":""
            }
        }
    },
    created(){
        this.$axios.get(`posts`).then(res => {
            console.log(res)
            this.postsComment = res.data.docs
            this.page = res.data.page
            this.totalPages = res.data.totalPages
        }).finally(()=> this.isLoading = false)
    },
    methods:{
        deleteAuthorPost(obj){

            
             this.$snotify.confirm("هل تريد حذف  الإستفسار المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            
            action: (toast) => {
              this.$snotify.remove(toast.id);
             
            this.isLoading = true
            this.$axios.delete(`posts/${obj.id}`).then(res =>{
                console.log(res)
                let x = this.postsComment.find(ele => ele.id == obj.id)
                let xIndex = this.postsComment.indexOf(x)

                this.postsComment.splice(xIndex, 1)
                this.$snotify.success("تم الحذف بنجاح")
            }).finally(() => this.isLoading = false)
            },
          },
          {
            text: "إلغاء",
            action: (toast) => {
              this.$snotify.remove(toast.id);
            },
          },
        ],
      });


        },
        editAuthorPost(obj){
            this.photo = ''
                this.url=""
            this.addEditedPost = obj
            this.popupEditAuthorPost = true
            this.photo = obj.image
            this.url = obj.image
        },
        editAuthorPostMain(){
            this.isLoading = true
            let form_data = new FormData()
            form_data.append("content", this.addEditedPost.content)
            form_data.append("image", this.photo)
            this.$axios.put(`posts/${this.addEditedPost.id}`, form_data).then(res=> {
                console.log(res.data)
                let x = this.postsComment.findIndex(obj => obj.id == res.data.id)
                this.postsComment[x] = res.data
                this.popupEditAuthorPost = false
                this.photo = ''
                this.url=""
                this.$snotify.success("تم التعديل بنجاح")
            }).finally(() => this.isLoading = false)
        },
        addPostMain(){
            this.isLoading = true
            let form_data = new FormData()
            form_data.append('content', this.addNewPost.content)
            form_data.append('image', this.photo)

            this.$axios.post(`posts`, form_data, {
                "Content-Type": "multipart/form-data"
            }).then(res => {
                this.popupAddPost = false
                this.$snotify.success("تم إضافة الإستفسار بنجاح")
                console.log(res)
                this.addNewPost.content = ''
                this.photo = ''
                this.url=""
                this.postsComment.push(res.data)
            }).finally(() => this.isLoading = false)
        },
        addPost(){
            this.photo = ''
                this.url=""
            this.popupAddPost = true
        },
        commentToPostMain(post){
            this.isLoading = true,
            this.$axios.post(`posts/${post.id}/comments`, {
                "content": this.commentToPost
            }).then(res => {
                console.log(res)
                this.$snotify.success("تم إضافة التعليق بنجاح")
                // let x = this.postsComment.findIndex(obj => res.data.id == obj.id)
                // this.postsComment[x].comments.
                let x = this.postsComment.findIndex(obj => obj.id == post.id)
                this.postsComment[x].comments.push(res.data)
                this.commentToPost = ''
            }).finally(() => this.isLoading = false)
        },
        fileSelected(e) {
      if (e.target.files.length > 0) {
        this.url = "";
        // console.log("files", e.target.files);
        this.photo = e.target.files[0];
        this.url = URL.createObjectURL(this.photo);
        // console.log(e.target.files[0]);
      }
    }
    }
}
</script>

<style lang="scss">
.posts{
    padding-top: 100px;
    margin-bottom: 30px;
    .con-vs-avatar{
        border: 1px solid #cacaca;
            margin-bottom: 0 !important;
    }
    .posts-head{
        color:#febe06;
        margin-bottom: 15px;
        
    }
    .posts-body{
        padding: 10px;
        box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
        .posts-body-head{
                padding: 17px 10px 0;
    background: #FFF;
    border: 1px solid #ececec;
            .post-user{
                h6{
                   text-align: center;
    color: #febe06;
                }
            }
            .post-content{
                padding: 11px 0;
                >span{
                        color: #febe06;
    font-weight: bold;
    span{
            font-weight: 100;
    color: #333;
    margin-right: 8px;
    }
                }
            }
        }

        .btn-secondary:focus, .btn-secondary.focus {
                box-shadow: none !important;
            }

        .collapse-btn{
            background: none !important;
            border: none !important;
            color: #febe06;
            &::focus{
                border: none !important;
                box-shadow: none !important;
                outline: none !important;

            }
            i{
                color:#febe06
            }
        }
    }
}
</style>