<template>
  <div class="sizes-page">
      <div class="container">
          <div class="sizes-inner">
              <vs-button @click="addSizePopup = true" type="gradient" color="warning">إضافة مقاس</vs-button>
              <Loading v-if="isLoading" />
              <div v-else class="fetch-sizes">
                  <template>
                      <span class="onesize" v-for="size in fetchSizes" :key="size.id"> 
                      <h6> {{size.size}} </h6>
                      <button @click="editSizeHandle(size)"> <i class="fas fa-edit"></i> </button>
                      <button @click="deleteSize(size)"> <i class="fas fa-trash-alt"></i> </button>
                  </span>
                  </template>
              </div>
          </div>
      </div>


       <vs-popup class="holamundo"  title="إضافة مقاس جديد" :active.sync="addSizePopup">
           <Loading v-if="isLoading" />
     <div v-else>
         <div class="form-group">
             <input type="text" class="form-control" v-model="addSize.size" placeholder="المقاس">
         </div>
      
         <div class="form-group">
             <input type="text"  v-model="addSize.perlaSizeId"  placeholder="كود المقاس" class="form-control">
         </div>

        <vs-button @click="addSizeMain" color="warning">إضافة المقاس</vs-button>

     </div>
    </vs-popup>



     <vs-popup class="holamundo"  title="تعديل مقاس معين" :active.sync="editSizePopup">
         <Loading v-if="isLoading" />
     <div v-else>
         <div class="form-group">
             <input type="text" class="form-control" v-model="editSize.size" placeholder="المقاس">
         </div>
         <div class="form-group">
             <input type="text"  v-model="editSize.perlaSizeId"  placeholder="كود المقاس" class="form-control">
         </div>

        <vs-button @click="editSizeMain" color="warning">تعديل المقاس</vs-button>

     </div>
    </vs-popup>

  </div>
</template>

<script>
import Loading  from '@/components/Loading'
export default {
    components:{
        Loading
    },
    data(){
        return {
            addSizePopup: false,
        editSizePopup: false,
        addSize:{
            size: '',
            perlaSizeId: '',
        },
        editSize:{
            size: '',
            perlaSizeId: '',
        },
        fetchSizes:[],
        isLoading: true,
        }
    },
    created(){
        this.$axios.get('sizes').then(res => {
            console.log(res)
            this.fetchSizes = res.data
        }).finally(() => this.isLoading = false)
    },
    methods:{


        deleteSize(size){
             this.$snotify.confirm("هل تريد حذف المقاس المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = true;

              this.$axios
                .delete(`sizes/${size.id}`)
                .then((res) => {
                    console.log(res)
                  let x = this.fetchSizes.find((obj) => obj.id === size.id);
                  let y = this.fetchSizes.indexOf(x);
                  this.fetchSizes.splice(y, 1);
                  
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch((err) => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                  console.log(err)
                })
                .finally(() => (this.isLoading = false));
            },
          },
          {
            text: "إلغاء",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = false;
            },
          },
        ],
      });
        },
        editSizeHandle(size){
            this.editSizePopup = true;
            this.editSize = size;
        },
        addSizeMain(){
            this.isLoading = true;
            this.$axios.post('sizes', this.addSize).then(res => {
                console.log(res)
                this.fetchSizes.push(res.data)
                this.addSizePopup = false
            }).finally(() => this.isLoading = false)
        },
        editSizeMain(){
            this.isLoading = true;
            this.$axios.put(`sizes/${this.editSize.id}`, this.editSize).then(res => {
                console.log(res)
                let sizeIndex = this.fetchSizes.findIndex(obj => obj.id == this.editSize.id)
                this.fetchSizes[sizeIndex] = res.data
                this.editSizePopup = false
            }).finally(() => this.isLoading = false)
        }
    }
}
</script>

<style lang="scss">
.sizes-page{
    .sizes-inner{
           box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;

    margin-top: 30px;
    background: #FFF;
    margin-bottom: 30px;
    min-height: 400px;

        .fetch-sizes{
                padding: 10px;
    background: #fdfdfd;
    padding: 15px;
    margin-top: 30px;
    border: 1px dashed #CCC;
            .onesize{
                                margin-left: 15px;

                h6{
                    display: inline-block;
                    margin-left: 15px;
                    margin-bottom: 0;
                }
                button{
                        cursor: pointer;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
        opacity: .5;
        transition:all .5s ease;
        &:hover{
            opacity: 1;
            transform: scale(1.2);
        }

    &:first-of-type{
            color: #0014ff;
    font-size: 21px;
    }
    &:last-of-type{
            color: #ff3a3a;
    font-size: 21px;
    }
                }
               background: #00bf18ba;
    padding: 8px 19px 6px 7px;
    color: #FFF;
    display: inline-block;
    border-radius: 10px;
            }
        }
    }
}
</style>