<template>
  <div class="add-new-product">
    <div class="container">
      <div>
        <form-wizard @on-complete="onComplete" shape="tab" color="#ffbf13" back-button-text="السابق"
                       next-button-text="التالي"
                       finish-button-text="إضافة المنتج">
          <h3 style="text-align: center;color: #4a4a4a;" slot="title">
            إضافة منتج جديد
          </h3>
          <tab-content title="تفاصيل المنتج" icon="fas fa-info-circle">
            <div class="product-info" >
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=" إسم المنتج باللغة العربية"
                      v-model="name"
                    />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=" إسم المنتج باللغة الإنجليزية"
                    />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=" إسم المنتج باللغة الأردنية"
                    />
                  </div>
                </div>

                 <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      placeholder=" رقم المنتج"
                      v-model="productId"
                    />
                  </div>
                </div>

                 <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      placeholder=" السعر"
                      v-model="itemPrice"
                    />
                  </div>
                </div>

                 <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=" كود الخصم"
                      v-model="saleCode"
                    />
                  </div>
                </div>




                <div class="col-md-12">
                    <div class="form-group">
                        <textarea v-model="description" class="form-control" placeholder="وصف المنتج" style="resize:none;height:100px" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>

               

              </div>
            </div>
          </tab-content>
          <tab-content title="تفاصيل أكثر" icon="fas fa-info">
             <div class="more-details">
                 <div style="margin-bottom:15px">
                      <h6 > أضف تفاصيل أكثر للمنتج (الأرتفاع و السنة) </h6>

              <vs-button  @click="addDetails" color="success" type="filled"><i class="fas fa-plus"></i>
                  إضافة تفاصيل أكثر</vs-button>


                 </div>

   
                            <div v-for="(moreDetail,index) in moreDetails" style="margin-bottom:15px" :key="index">
                               <div class="row">
                                   <div class="col-md-3">
                                        <input type="text" class="form-control" placeholder="الإسم باللغة العربية" v-model="moreDetail.keyAr">

                                   </div>
                                   <div class="col-md-3">
                                           <input type="text" class="form-control" placeholder="الإسم باللغة الإنجليزية" v-model="moreDetail.keyEn">
                             
                                   </div>
                                   <div class="col-md-3">
                                          <input type="text" class="form-control" placeholder="القيمة باللغة العربية"  v-model="moreDetail.valueAr">
          
                                   </div>
                                   <div class="col-md-3">
                                          <input placeholder="القيمة باللغة الإنجليزية"  style="display:inline-block;width:72%" type="text" class="form-control" v-model="moreDetail.valueEn">

                                <vs-button  @click="moreDetails.splice(index,1)" style="display:inline-block" color="danger" type="filled"><i class="fas fa-trash-alt"></i></vs-button>
                                   </div>
                               </div>
                            
                    </div>
                    <h6>ميعاد بدء التوصيل</h6>
                  <input type="datetime-local" id="birthdaytime" class="form-control" v-model="freeDeliveryStart" name="birthdaytime">
                    <h6>أخر ميعاد للتوصيل</h6>

                                    <input type="datetime-local" id="birthdaytime" class="form-control" v-model="freeDeliveryEnd" name="birthdaytime">

             </div>

          </tab-content>
          <tab-content title="المخزن" icon="fas fa-luggage-cart">
            <div class="stock">
               <div class="row"  v-for="(productStock,index) in productStocks" :key="index" >
                
                   <div class="col-md-4" >
                        <div class="form-group">

                            <div>
                                <v-select :reduce="option => option.id" :getOptionLabel="option => option.colorAr" v-model="productStock.color" label="name" :options="colorsOptions"></v-select>
 <div class="file-choose">
                  <input multiple type="file" @change="fileSelectedAdd(index,$event)" placeholder="قم بأرفاق أيقونه" />
                  <img v-if="productStocks[index].url.length > 0" v-for="(oneUrl,index2) in productStock.url" :key="index2" style="max-width: 100%; max-height: 80%;" :src="productStock.url[index2]" />
                  <span v-else-if="productStocks[index].url.length == 0">
                    <img src="../../../assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div>                            </div>
                        
                        

                 
                </div>
                   </div>
                   <div class="col-md-8">
                        <div class="sizes">
                            <h4>المقاسات</h4>
                    <vs-button style="margin-bottom:10px;" @click="productStock.sizes.push({size:'',qty:''})" color="success" type="filled"><i class="fas fa-plus"></i>
                        إضافة مقاس جديد
                    </vs-button>

                    <div v-for="(size,index) in productStock.sizes" :key="index">
                        <div class="row">
                           
                            <div class="col-md-6">
                                <v-select :getOptionLabel="option => option.size" :reduce="option => option.id" v-model="size.size"  @input="setSelectedSize(size)" label="name" :options="sizesOptions"></v-select>

                            </div>
                            <div class="col-md-6">
                              <div style="overflow:hidden">
                                    <div class="form-group" style="width:70%;float:right">
                                    <input type="text" v-model="size.qty" id="" class="form-control">
                                </div>
                    <vs-button style="float: right;padding: 7px 14px;margin-top: 1px;margin-right: 6px;" @click="productStock.sizes.splice(index,1)"  color="danger" type="filled"><i class="fas fa-trash-alt"></i></vs-button>
                              </div>

                            </div>

                        </div>
                    </div>
                    <button v-if="productStocks.length > 1" @click='productStocks.splice(index, 1)' class="btn btn-danger">delete</button>

                        </div>
                   </div>

                  <div class="col-md-4">
                     
                  </div>

               </div>


            </div>
                           <button @click='productStocks.push({"color":"", "photos":[],"sizes": [{size: "", qty: ""}]})' class="btn btn-success">add</button>

          </tab-content>
        </form-wizard>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return {
          
            url:[],
            name:"",
            photo:[],
            productId:"",
            itemPrice:"",
            saleCode:"",
            description:"",
            moreDetails: [
              {
                keyEn:"",
              keyAr:"",
              valueEn:"",
              valueAr:""
              }
            ],
            colors:[],
            sizes:[],
            sizes2:[],
            colorsOptions:[],
            sizesOptions:[],
            sizes:'',
            colors:'',
            freeDeliveryStart: '',
            freeDeliveryEnd: '',
            productStocks: [
              {
                 
                  "color": [],
                  url:[],
                  photo:[],
                  "photos":[],
                  "sizes": [
                    {size: '', qty: ''}
                  ]
                  
                  
              }
            ]
        }
    },
    methods:{
      onComplete(){
       this.$axios.post(`/sub-categories/${this.$route.params.id}/products`, {
          
    "name": this.name,
    "productId": this.productId,
    "description": this.description,
    "itemPrice": this.itemPrice,
    "saleCode": this.saleCode,
    "attributes": this.moreDetails,
    "productStock": this.productStocks,
    
    "freeDeliveryStart": this.freeDeliveryStart,
    "freeDeliveryEnd": this.freeDeliveryEnd

       }).then(res => {
         this.$snotify.success("تم إضافة المنتج بنجاح")
         console.log(res)
       })
      },
      setSelectedSize(val){
        console.log(val.size)
      },
      addSize(productStock){
        productStock.sizes.push({size:'',qty:''})
      },
        addDetails(){
            this.moreDetails.push({
                keyEn:'',
                keyAr:'',
                valueEn:'',
                valueAr:'',
            })
        },
         fileSelectedAdd(index,e){
             if (e.target.files.length > 0) {
                this.productStocks[index].url = [];
                this.productStocks[index].photo = []
                this.productStocks[index].photos = []
                console.log("files", e.target.files);
                for(let i = 0 ; i < e.target.files.length ; i++){
                    this.productStocks[index].photo.push(e.target.files[i])
                   this.productStocks[index].url.push(URL.createObjectURL(this.productStocks[index].photo[i]))
                   console.log("we in index ", index )
                   console.log("we in index and url is ", this.productStocks[index].url )
                   let form_data = new FormData()
                   form_data.append("photo", this.productStocks[index].photo[i])
                   this.$axios.post('images', form_data, {
                     headers:{'Content-Type': 'multipart/form-data'}

                   }).then(res => {
                    this.productStocks[index].photos.push(res.data.id)
                    console.log("res => ", res)
                    console.log("photos => " , this.productStocks[index].photos)
                    this.$snotify.success("تم إضافة الصور بنجاح")
                  })
                  
                }
               
            }
        },
    },
    created(){
      this.$axios.get(`colors`).then(res => {
        console.log("colors ",res.data)
        this.colorsOptions = res.data
      })

      this.$axios.get(`sizes`).then(res => {
        console.log("sizes ",res.data)
        this.sizesOptions = res.data
      })

    }
};
</script>

<style lang="scss">
.add-new-product {
  padding-top: 10px;

  .product-info{
      padding: 20px;
      min-height: 300px;
    background: #FFF;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
  }

  .more-details{
       padding: 20px;
       min-height: 300px;
    background: #FFF;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    h6{
        display: inline-block;
        margin-left: 15px;
    }
    button{
        outline:none;
    }
  }

  .file-choose{
      z-index: 3;
  }

  .stock{
       padding: 20px;
       min-height: 300px;
    background: #FFF;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
      .sizes{
          min-height: 400px;
          
         border-right: 1px solid #ccc;
    padding-right: 17px;
      }
  }
}
</style>
