<template>
  <div class="categories-products">
      <Loading v-if="isLoading" />
      <div v-else class="container">
          <div class="cate-products">
                            <vs-button @click="$router.push(`/subcategories/${$route.params.id}/addnewproduct`)" style="margin-bottom:20px;outline:none;" type="line" color="warning">إضافة منتج جديد</vs-button>

               <div class="offers-card">
               <div class="row">
             <div class="col-md-4" v-for="pro in products" :key="pro.id">
                 <div class="offers-inner">
                      <div class="thumb-example">
    <!-- swiper1 -->
    <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
      <swiper-slide class="slide-1" v-for="(offerPhoto,index) in pro.photo" :key="index"> 
          <img style="width:100%;height:100%" :src="offerPhoto" alt=""> 
      </swiper-slide>
      
      <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
      <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
    </swiper>
   
  </div>

  <div class="offer-body">
      <h6> {{pro.name}} </h6>
      <p> {{pro.description}} </p>
      <div class="offer-price">
          <h6 style="width:100%;text-align:center">السعر :
              <div class="currency"> SR </div>
           <span>
               
               {{pro.itemPrice}}
           </span>
          </h6>

              <b-form-rating class="rating" disabled :value="pro.rating"></b-form-rating>

          

      </div>
  </div>

  <div class="offer-footer">
      <button  @click="EditProduct(pro)"> <i class="fas fa-edit"></i> تعديل </button>
      <button @click="deleteProduct(pro)" > <i class="fas fa-trash"></i> حذف </button>
  </div>
 
  
                 </div>
             </div>
         </div>
          </div>
          </div>
          <div>
                <vs-pagination color="warning"  :total="totalPages" v-model="currPage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination>
            </div>
      </div>



      <vs-popup class="holamundo"  title="تعديل بيانات المنتج" :active.sync="ActiveEditPopUp">
        <Loading v-if="isLoading" />
        <div v-else class="row">
            <div class="col-md-6">
                <div class="form-groub">
                    <input type="text" placeholder="العنوان" v-model="formEdit.title" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                 <div class="form-groub">
                    <input type="text" placeholder="النوع" v-model="formEdit.name" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <textarea name=""  placeholder="الوصف" v-model="formEdit.description" id="" rows="10"></textarea>
                <!-- <div class="form-groub">
                    <input type="text" class="form-control">
                </div> -->
            </div>
            
  
           
            <div class="col-md-6">
                <div class="form-groub">
                    <input type="number" v-model="formEdit.itemPrice" placeholder="السعر " class="form-control">
                </div>
            </div>
            <div class="col-md-6" v-for="(color,index) in this.formEdit.colors" :key="index">
                <div class="form-groub">
                    <input type="text" v-model="formEdit.colors[index]" placeholder="اسم اللون المتاح" class="form-control">
                    <vs-button @click="formEdit.colors.push('')" color="primary" type="filled"><i class="fas fa-plus"></i></vs-button>

                    <vs-button v-if="index > 0" @click="formEdit.colors.splice(index, 1)" color="danger" type="filled"> <i class="fas fa-trash-alt"></i></vs-button>

                </div>
            </div>
            <div class="col-md-12">
                 <div class="file-choose" >
                  <input  type="file" multiple="multiple" @change="fileSelected" placeholder="قم بأرفاق أيقونه" />
                  <span v-if="url !== []" >
                                        <img v-for="(x,index) in url" :key="index"  style="width:25%;margin:auto}" :src="url[index]" />

                  </span>
                  <span v-else>
                    <img src="../../../assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div>
            </div>
        </div>
        
         
       
       
       
        <!-- @click="EditOfferMain" -->
        <vs-button  @click="EditProductMain" color="primary" type="filled">تعديل العرض</vs-button>

    </vs-popup>











    





  </div>
</template>

<script>
  import Loading from '@/components/Loading.vue'
 import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
  import 'swiper/css/swiper.css'
export default {
    
    components: {
      Swiper,
      SwiperSlide,
      Loading
    },
    data(){
        return {
            formEdit:{
                name:'',
                title:'',
                description:"",
                oldPrice:"",
                newPrice:"",
                colors:[""]
            },
            formAdd:{
                 name:'',
                title:'',
                description:"",
                oldPrice:"",
                newPrice:"",
                colors:[""],
                numberOfPieces:"",
                saleCode:""
            },
            isLoading: true,
            swiperOptionTop: {
          loop: true,
          loopedSlides: 5, // looped slides should be the same
          spaceBetween: 10,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          }
        },
        url:[],
        photo:[],
        ActiveEditPopUp:false,
        ActiveAddPopUp: false,
            products: [],
            totalPages: 0,
            currPage: 0,
            currentProduct:{},
        }
    },
    methods:{
        
         fileSelected(e){
             if (e.target.files.length > 0) {
                this.url = [];
                this.photo = []
                console.log("files", e.target.files);
                for(let i = 0 ; i < e.target.files.length ; i++){
                    this.photo.push(e.target.files[i])
                   this.url.push(URL.createObjectURL(this.photo[i]))
                }
                console.log(this.url)
                
            }
        },
        EditProduct(product){
            console.log(product)
            this.ActiveEditPopUp = true,
            this.formEdit = product
            this.photo = product.photo
            this.url = product.photo
        },
        deleteProduct(product){
              this.$snotify.confirm("هل تريد حذف المنتج المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = true;

              this.$axios
                .delete(`products/${product.id}`)
                .then((res) => {
                    console.log(res)
                  let x = this.products.find((obj) => obj.id === product.id);
                  let y = this.products.indexOf(x);
                  this.products.splice(y, 1);
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch((err) => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                  console.log(err)
                })
                .finally(() => (this.isLoading = false));
            },
          },
          {
            text: "إلغاء",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = false;
            },
          },
        ],
      });
        },
        EditProductMain(){
            let form_data = new FormData()
            form_data.append("name", this.formEdit.name)
            form_data.append("description", this.formEdit.description)
            form_data.append("itemPrice", this.formEdit.itemPrice)
            
            for(let i = 0 ; i < this.photo.length ; i++){
                form_data.append("photo", this.photo[i])
            }
            for(let i = 0 ; i < this.formEdit.colors ; i++){
                form_data.append(`color[${i}]`, this.formEdit.colors[i])
            }
            this.isLoading = true

            this.$axios.put(`products/${this.formEdit.id}`, form_data).then(res => {
                console.log(res)
                this.ActiveEditPopUp = false
                let x = this.products.findIndex(obj => obj.id == res.data.id)
                this.products[x] = res.data
                this.$snotify.success("تم التعديل بنجاح")
                this.photo = []
                
            }).finally(()=> this.isLoading = false)
        },
        addProductMain(){
            let form_data = new FormData()
            form_data.append("name", this.formAdd.name)
            form_data.append("description", this.formAdd.description)
            form_data.append("saleCode", this.formAdd.saleCode)
            form_data.append("itemPrice", this.formAdd.itemPrice)
            form_data.append("numberOfPieces", this.formAdd.numberOfPieces)
            
            for(let i = 0 ; i < this.photo.length ; i++){
                form_data.append("photo", this.photo[i])
            }
            for(let i = 0 ; i < this.formAdd.colors ; i++){
                form_data.append(`color[${i}]`, this.formAdd.colors[i])
            }
            this.isLoading = true

            this.$axios.post(`sub-categories/${this.$route.params.id}/products`, form_data).then(res => {
                console.log(res)
                this.ActiveAddPopUp = false
                this.products.unshift(res.data)
                this.$snotify.success("تم الإضافة بنجاح")
                this.photo = []
                
            }).finally(()=> this.isLoading = false)
        },
    },
    currentPage: function(val){
        this.isLoading = true,
            this.$axios.get(`categories/${this.$route.params.id}/products?page=${this.currPage}`).then(res => {
            console.log(res)
            this.products = res.data.docs
            this.totalPages = res.data.totalPages
            this.currPage = res.data.page
        }).finally(() => this.isLoading = false)
        },
    created(){
        this.$axios.get(`sub-categories/${this.$route.params.id}/products`).then(res => {
            console.log(res)
            this.products = res.data.docs
            this.totalPages = res.data.totalPages
            this.currPage = res.data.page
        }).finally(() => this.isLoading = false)
    },
    watch:{
        currPage: function(val){
             this.$axios.get(`sub-categories/${this.$route.params.id}/products?page=${this.currPage}`).then(res => {
                console.log(res)
                this.products = res.data.docs
                this.totalPages = res.data.totalPages
                this.currPage = res.data.page
            }).finally(() => this.isLoading = false)
        }
    }
}
</script>

<style lang="scss">
.categories-products{
    .cate-products{
    }
       box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
padding:10px 10px 0 10px;
    padding-bottom: 50px;
    .offers-inner{
        box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
        margin-bottom: 30px;
        transition: all .5s ease;
        padding: 10px;
        cursor: pointer;
        &:hover{
            transform: translateY(-15px);
        }
    }
 .thumb-example {
    height: 225px;
  }
    .swiper {
    .swiper-slide {
        text-align: center;
      background-size: cover;
      background-position: center;
   
    }
    &.gallery-top {
      height: 100%;
      width: 100%;
    }
    &.gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 15 0;
    }
    &.gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    &.gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }
  }

   .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 18px;
    color: #ffbf13;
}
.swiper-button-prev.swiper-button-white, .swiper-button-next.swiper-button-white {
        background: #ffffff;
    padding: 0 21px;
    border-radius: 50%;
    &::after{
        font-weight: bold;
    }
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
        content: 'next';
    font-size: 18px;
    color: #ffbf13;
}

.offer-body{
    .b-rating-icon{
        color:#febe06 !important;
    }
    h6{
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    font-size: 19px;
    padding-bottom: 0;
    margin-bottom: 5px;
    }
    p{
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
        padding: 0 10px;
    font-size: 14px;
    }
    .offer-price{
        h6{
            display: inline-block;
        }
        .currency{
           display: inline-block;
    font-size: 13px;
    color: #febe06;
    font-weight: bold;
        }
        span{
           display: inline-block;
    padding: 3px 7px;
    background: #585858;
    color: #FFF;
        }
    }
    .old-price{
        background-color:#ffbf13 !important;
        text-decoration: line-through;
    }
}
.offer-footer{
    
    overflow: hidden;
    button{
        color: #FFF;
        outline: none;
        border: none;
        padding:10px;
        
        &:first-of-type{
            display: block;
            width: 50%;
            float: right;
            background-color: #febe06;
            text-align: center;
        }
         &:last-of-type{
             display: block;
            width: 50%;
            float: right;
            background-color: #fe6d06;
            text-align: center;
         }
    }
}
nav.vs-pagination--nav{
    margin-bottom: 20px !important;
ul.vs-pagination--ul{
    margin-bottom: 0 !important;
}
}
.con-vs-pagination{
    text-align: center !important;
    margin: auto !important;
}
}


.holamundo{
     textarea{
            width: 100%;
    margin: 10px 0;
    border: 1px solid #DDD;
    resize: none;
    padding: 10px 15px;
    height: 127px;
     }
     .form-groub{
         margin-bottom: 10px;
     }
}
</style>