<template>
  <div class="compitations">
      <div class="container">
          <Loading v-if="isLoading"/>
          <div v-else class="compitations-inner">
              <div class="row">
                  <div class="col-md-4" v-for="compitation in compitations" :key="compitation.id"> 
                      <div class="compitation" >
                         <div @click="$router.push(`/compitations/${compitation.id}`)">
                              <div class="compitation-head" >
                              <h4 style="margin-bottom:0"> {{compitation.name}} </h4>
                              <span style="color: #a7a3a3;margin-bottom:5px;display:inline-block"> {{compitation.details}} </span>
                            </div>

                            <div class="compitation-body">
                                <span v-if="compitation.isLive" style="background: #2eb11599;padding: 5px 6px;color: #FFF;"> متاح </span>
                                <span v-else style="color: rgb(255, 255, 255);background: rgb(255 87 87);"> غير متاح  </span>
                            </div>
                       

                          <div class="compitation-foot">
                              <span> <span>تاريخ البدء /</span> {{ new Date(compitation.startedAt).toLocaleString() }} </span>
                              <span> <span>تاريخ الإنتهاء /</span> {{ new Date(compitation.finishedAt).toLocaleString()}} </span>
                          </div>
                            </div>

                          <div class="compitation-btn" style="text-align: left;margin-top: 16px;">
                              <vs-button style="padding: 6px 14px;" @click="editCompetition(compitation)" color="success" type="filled"> <i class="fas fa-edit"></i> تعديل</vs-button>
                                <vs-button style="padding: 6px 14px;" @click="deleteCompetition(compitation)" color="danger" type="filled"> <i class="fas fa-trash-alt"></i> حذف</vs-button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>



        <vs-popup class="holamundo"  title="تعديل المسابقة" :active.sync="popUpEdit">
            <Loading v-if="isLoading" />
           <div v-else>
                <div class="form-group">
                <input type="text" v-model="currentObjEdit.name" class="form-control">
            </div>
             <div class="form-group">
                <textarea style="resize: none;width: 100%;border: 1px solid #ced4da;padding: 10px;border-radius: 5px;" v-model="currentObjEdit.details" cols="30" rows="10"></textarea>
            </div>
            <div>
                <span style="padding: 10px;display: block;font-weight: bold;font-size: 16px;color: #46c93a;"> {{new Date(currentObjEdit.startedAt).toLocaleString()}}   </span>
                <input type="datetime-local" style="width: 100%;padding: 8px;margin-bottom: 10px;border: 1px solid #ced4da;" placeholder="اضف ميعاد بدء المسابقة" @input="startAtConvert" v-model="currentObjEdit.startedAt"> 
                            
            </div>
            <vs-button style="padding: 6px 14px;" @click="editMainCompetition" color="success" type="filled"> <i class="fas fa-edit"></i> تعديل</vs-button>
           </div>

        </vs-popup>


  </div>
</template>

<script>
import Vue from 'vue'
import moment from 'moment'

Vue.prototype.moment = moment
import Loading from '@/components/Loading'
export default {
    data(){
        return {
            compitations: [],
            popUpEdit: false,
            isLoading: true,
            currentObjEdit:{
                name:'',
                details:'',
                startedAt:'',
            }
        }
    },
    components:{
        Loading
    },
    methods:{
        deleteCompetition(obj){
            

             this.$snotify.confirm("هل تريد حذف  المسابقة  المُحددة ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = true
              this.$axios
                .delete(`competition/${obj.id}`)
                .then((res) => {
                  let x = this.compitations.find(
                    (ele) => ele.id == obj.id
                  );

                  let indexX = this.compitations.indexOf(x);
                  this.compitations.splice(indexX, 1);
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch((err) => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                }).finally(()=> this.isLoading = false);
            },
          },
          {
            text: "إلغاء",
            action: (toast) => {
              this.$snotify.remove(toast.id);
            },
          },
        ],
      });

        },
        startAtConvert(){
            // this.currentObjEdit.startedAt = moment.utc(this.currentObjEdit.startedAt).format();
            // this.currentObjEdit.startedAt = new Date(this.currentObjEdit.startedAt)
            // console.log(this.currentObjEdit.startedAt)
           
        //    this.currentObjEdit.startedAt = new Date(this.currentObjEdit.startedAt).toISOString()
          this.currentObjEdit.startedAt = moment(this.currentObjEdit.startedAt).format("YYYY-MM-DDTHH:mmZ")
        },
        editCompetition(obj){
            this.currentObjEdit = obj
            this.popUpEdit = true
        },
        editMainCompetition(){
            console.log(this.currentObjEdit.startedAt)
            this.isLoading = true
            this.$axios.put(`competition/${this.currentObjEdit.id}`,{
                name: this.currentObjEdit.name,
                details: this.currentObjEdit.details,
                startedAt: this.currentObjEdit.startedAt
            }).then(res => {
                console.log(res)
                
                this.currentObjEdit.name = res.data.name
                this.currentObjEdit.details = res.data.details
                this.currentObjEdit.startedAt = res.data.startedAt
                this.popUpEdit = false

            }).finally(()=> this.isLoading = false)
        }
    },
    created(){
        this.$axios.get(`competition`).then(res => {
            console.log(res.data)
            this.compitations = res.data
        }).finally(()=> this.isLoading = false)
    }
}
</script>

<style lang="scss">
.compitations{
    padding-top: 100px;
    padding-bottom: 20px;
    .compitation{
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 18px;
        background:#FFF;
        box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
        transition: all .5s ease;
        &:hover{
            transform: translateY(-10px);
            cursor: pointer;
        }
        .compitation-body{
                
    margin-top: 9px;
    display: inline-block;
       
    font-weight: bold;
    span{
            padding: 6px 10px;
             border-radius: 6px;
    }
        }
        .compitation-foot{
            margin-top: 20px;
            >span{
                    padding: 10px;
    background: #f9f9f9;
    display: block;
    margin-bottom: 7px;
                span{
                       color: #febe06;
    font-weight: bold;
    margin-left: 11px;
                }
            }
        }
    }
}
</style>