<template>
  <div >
      <div class="chat-pop-up" >
          <i class="fas fa-envelope-open-text" @click="toggleChat"></i>

          <div class="chat">
              <div class="chat-cont">
                <h6><i class="fas fa-headset"></i>
                    <span>الدعم الفني</span>
                </h6>

                 <div class="message-write">

                      <div class="chat-sender">
                      <div class="user-img">
                          <img src="https://randomuser.me/api/portraits/men/85.jpg" alt="">
                      </div>
                      <div class="user-message">
                          <p>مساء الخير !</p>

                          <span>10:11</span>
                      </div>
                  </div>


                  <div class="chat-recever">
                      <div class="user-img">
                          <img src="../assets/imgs/technical-support.png" alt="">
                      </div>
                      <div class="user-message">
                          <p>مساء الخير !</p>

                          <span>10:11</span>
                      </div>
                  </div>

                  <div class="chat-sender">
                      <div class="user-img">
                          <img src="https://randomuser.me/api/portraits/men/85.jpg" alt="">
                      </div>
                      <div class="user-message">
                          <p>مساء الخير !</p>

                          <span>10:11</span>
                      </div>
                  </div>

                   <div class="chat-recever">
                      <div class="user-img">
                          <img src="../assets/imgs/technical-support.png" alt="">
                      </div>
                      <div class="user-message">
                          <p>مساء الخير !</p>


                          <span>10:11</span>
                      </div>
                  </div>
                 </div>

                  <div class="message-cont from-groub">
                      <input type="text" class="form-control" name="" id="" placeholder="أكتب رسالتك">
                      <i class="fas fa-paper-plane"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return {
            chat: false
        }
    },
    methods:{
        toggleChat: function(){
            this.chat = !this.chat
        }
    },
    watch: {
        chat: function(val) {
            console.log(val)
            if(this.chat == true){
                document.querySelector('.chat-pop-up .chat .chat-cont').style.right ="48px"
            }else{
                 document.querySelector('.chat-pop-up .chat .chat-cont').style.right ="-364px"
            }
        }
    }
}
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl{
  $left: right;
  $right: left;
}@else{
  $left: left;
$right: right;
}

*{
    direction: $dir !important;
    text-align: $left;
}



@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(230, 181, 6, .2);
  }
  70% {
      -webkit-box-shadow: 0 0 0 5px rgba(230, 181, 6, .2);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(230, 181, 6, .2);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(230, 181, 6, .2);
    box-shadow: 0 0 0 0 rgba(230, 181, 6, .5);
  }
  70% {
      -moz-box-shadow: 0 0 0 5px rgba(230, 181, 6, .2);
      box-shadow: 0 0 0 5px rgba(230, 181, 6, .7);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(230, 181, 6, .2);
      box-shadow: 0 0 0 0 rgba(230, 181, 6, .2);
  }
}

.chat-pop-up{
    position: fixed;
    bottom:10px;
    right: 10px;
    padding: 10px 12px;
    background:#febe06;
    z-index: 9;
    border-radius: 50%;
    animation: pulse 2s infinite;
    i{
            color: #FFF;
        font-size: 25px;
        cursor: pointer;
    }
    .chat{
        position: relative;
        .chat-cont{
            h6{
                    background: #febe06;
    padding: 10px;
    margin-bottom: 0;
    span{
            color: #FFF;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    }
            }
             transition: all .4s ease;
    position: absolute;
    top: -326px;
    background: #fff;
    right: -356px;
    height: 335px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -1px -2px 12px 5px #33333326;
            .message-write{
                     overflow-y: scroll;
    /* clear: both; */
    height: 227px;
            }
            .chat-sender{
                overflow: hidden;
                margin-bottom: 10px;
                margin-top: 7px;
                .user-img{
                    width: 20%;
                    overflow: hidden;
                    float: $left;
                    border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .user-message{
                   width: 70%;
    background-color: #f7f7f7;
    margin-top: 7px;
    margin-left: 10px;
    position: relative;
    float: left;
                    span{
                            position: absolute;
    font-size: 10px;
    left: 4px;
    top: 1px;
    color: #fff;
                    }
                p{
                        padding: 10px 11px 5px;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
                }
            }

           
            }

           .fas.fa-paper-plane{
                   position: absolute;
    top: 5px;
    left: 5px;
    color: #febe06;
    /* height: 100%; */
    padding: 5px;
    border-radius: 50%;
    font-size: 18px;
           }

 .message-cont.from-groub{
                position: absolute;
                bottom: 6px;
                width: 95%;
                    right: 8px;
            }
            .chat-recever{
                overflow: hidden;
                margin-bottom: 10px;
                margin-top: 7px;
                .user-img{
                    width: 20%;
                    overflow: hidden;
                    float: $right;
                    border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .user-message{
                position: relative;
                    width: 70%;
                background-color: #febe06;
                margin-left: 10px;
                float: left;
                font-weight: bold;
                margin-top: 7px;
                 span{
                           position: absolute;
    font-size: 10px;
    left: 4px;
    top: 1px;
    color: #fff;

                    }
                p{
                    padding: 10px 11px 5px;
                        font-size: 12px;
                        color:#FFF;
                }
            }
            }
        }
    }

     .message-write::-webkit-scrollbar {
                width: 5px;
            }

            /* Track */
            .message-write::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px #999; 
                border-radius: 10px;
            }
            
            /* Handle */
            .message-write::-webkit-scrollbar-thumb {
                background: #8c8b8b; 
                border-radius: 10px;
            }

            /* Handle on hover */
            .message-write::-webkit-scrollbar-thumb:hover {
                background: #8c8b8b; 
            }
}
</style>