<template>
  <div class="footer">
    <div class="part-one">
      <div class="foot">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="foot-item">
                <h6>
                  <svg viewBox="0 0 40 40" id="app">
                    <rect width="40" height="40" fill="#febe06" rx="4" />
                    <path
                      fill="#FFF"
                      d="M26.95 9A5.11 5.11 0 0 1 32 14.17a5.12 5.12 0 0 1-5.05 5.18 5.11 5.11 0 0 1-5.05-5.18A5.11 5.11 0 0 1 26.95 9zm0 .77l-1.27 2.65-2.85.42 2.06 2.06-.49 2.9 2.55-1.36 2.55 1.37-.49-2.9 2.06-2.07-2.84-.42-1.28-2.65zm-3.47 11.1a.72.72 0 0 0-.15-.57.68.68 0 0 0-.53-.25h-.26a.79.79 0 0 0-.78.8v1.9c0 .38.3.69.67.69.37 0 .68-.27.75-.65l.3-1.92zm-3.43-3.42v-1.64c0-.44-.34-.8-.77-.8h-1.04a.71.71 0 0 0-.7.82l.26 1.66c.08.44.44.76.88.76h.6c.42 0 .77-.36.77-.8zm0 5.3v-1.9c0-.44-.35-.8-.78-.8H19c-.2 0-.4.09-.52.25a.72.72 0 0 0-.16.57l.31 1.92c.06.38.38.65.74.65.38 0 .68-.3.68-.69zm-3.32.43a.7.7 0 0 0 .15-.56l-.3-1.81a.89.89 0 0 0-.87-.76h-.4c-.21 0-.4.1-.53.26a.64.64 0 0 0-.12.54l.42 1.64.07.24c.1.42.48.7.9.7h.12c.21 0 .42-.09.56-.25zm-2.85-5.64c.1.42.47.7.9.7h.6c.2 0 .4-.08.53-.24a.72.72 0 0 0 .15-.57l-.26-1.66a.88.88 0 0 0-.86-.76h-.85c-.21 0-.4.1-.54.27a.67.67 0 0 0-.1.57l.1.41.33 1.28zm13.35 3.34a.69.69 0 0 0 .01-.28c.68-.05 1.32-.2 1.92-.46l-1 4.09a1.3 1.3 0 0 1-1.26 1H15a1.3 1.3 0 0 1-1.26-1l-2.87-12.04a.94.94 0 0 0-.91-.73h-1.2a.77.77 0 0 1-.76-.78c0-.43.34-.78.76-.78h2.2c.6 0 1.12.4 1.26 1l.4 1.58c.1.43.48.73.92.73h7.43a6.1 6.1 0 0 0 4.4 7.23.91.91 0 0 0-.15.37l-.29 1.8c-.03.22.02.43.16.59.12.15.3.24.5.24h.29c.4 0 .77-.3.88-.74l.06-.2c.11-.43.26-.98.41-1.62zm-11.51 5.55c1.2 0 2.18 1.02 2.18 2.28 0 1.27-.98 2.29-2.18 2.29a2.24 2.24 0 0 1-2.18-2.29c0-1.26.98-2.28 2.18-2.28zm10.46 0c1.2 0 2.18 1.02 2.18 2.28 0 1.27-.98 2.29-2.18 2.29a2.23 2.23 0 0 1-2.17-2.29c0-1.26.97-2.28 2.17-2.28z"
                    />
                  </svg>
                  حمل التطبيق مجانا
                </h6>
                <p>لتتمكن من الوصول للعروض الجديدة</p>
                <div class="mobil-apps">
                  <div class="android">
                    <img style="width:100%;height: 35px;cursor: pointer;" src="../assets/imgs/android-logo.png">
                  </div>
                  <div class="ios">
                    <img style="width:100%;height: 35px;cursor: pointer;" src="../assets/imgs/ios-logo.png">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="foot-item">
                <h6>ما الجديد ؟</h6>
                <p>تابعنا ليصلك كل جديد عن طريق البريد الالكتروني</p>
                <div class="follow-us form-groub">
                  <label for>
                    <i class="far fa-envelope"></i>
                  </label>
                  <input
                    class="form-control"
                    type="email"
                    name
                    placeholder="من فضلك أدخل بريدك الالكتروني"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="foot-item">
                <div class="logo">
                  <!-- <div class="nav-logo"> -->
                  <img src="../assets/imgs/logo.jpg" alt />
                  <!-- </div> -->
                  <!-- <h2>PERLA</h2>
                  <span>For Kids And Mothers</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="second-part">
      <div class="foot">
        <div class="container">
          <div class="foot-cont">
             <div class="row">
            <div class="col-md-3 col-6">
              <div class="sitemap">
                <ul>
                  <nuxt-link to="/cart">
                    <li class="head">منتجاتي</li>
                  </nuxt-link>
                  <nuxt-link to="/profile">
                    <li>الطلبات</li>
                  </nuxt-link>
                  <nuxt-link to="/cart">
                    <li>السلة</li>
                  </nuxt-link>
                  <nuxt-link to="/favorite">
                    <li>المفضلة</li>
                  </nuxt-link>
                </ul>
              </div>
            </div>

            <div class="col-md-3 col-6">
              <div class="sitemap">
                <ul>
                  <nuxt-link to="/">
                    <li class="head">المنتجات</li>
                  </nuxt-link>
                  <nuxt-link to="/products">
                    <li>الملابس</li>
                  </nuxt-link>
                  <nuxt-link to="/products">
                    <li>الألعاب</li>
                  </nuxt-link>
                  <nuxt-link to="/products">
                    <li>مستلزمات الام</li>
                  </nuxt-link>
                  <nuxt-link to="/products">
                    <li>مستلزمات الطفل</li>
                  </nuxt-link>
                </ul>
              </div>
            </div>

            <div class="col-md-3 col-6">
              <div class="sitemap">
                <ul>
                  <nuxt-link to>
                    <li class="head">التواصل</li>
                  </nuxt-link>
                  <nuxt-link to>
                    <li>099900125625</li>
                  </nuxt-link>
                  <nuxt-link to>
                    <li>20 شارع المدينه المنوره</li>
                  </nuxt-link>
                  <nuxt-link to>
                    <li>email@gmail.com</li>
                  </nuxt-link>
                </ul>
              </div>
            </div>

            <div class="col-md-3 col-6">
              <div class="sitemap">
                <ul>
                  <nuxt-link to>
                    <li class="head">لغات متوفرة</li>
                  </nuxt-link>
                  <nuxt-link to>
                    <li style="width:30px;margin-bottom:10px;margin-top:5px">
                      <img
                        style="width:100%;height:100%"
                        src="../assets/imgs/saudi-arabia.png"
                      />
                    </li>
                  </nuxt-link>
                  <nuxt-link to>
                    <li style="width:30px;">
                      <img
                        style="width:100%;height:100%"
                        src="../assets/imgs/uk-2.png"
                      />
                    </li>
                  </nuxt-link>
                </ul>
              </div>
            </div>
          </div>
          </div>

          <div class="row">
            <div class="col-md-6 text-center">
              <div class="join-us">
                <h6 class="text-center">تابعنا علي</h6>
                <ul class="text-center">
                  <li>
                    <a
                      target="_blank"
                      href="https://www.facebook.com/1perla.sa/"
                    >
                      <i class="fab fa-facebook-square"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://api.whatsapp.com/send?phone=966555308955"
                      target="_blank"
                    >
                      <i class="fab fa-whatsapp-square"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/1perla_sa" target="_blank">
                      <i class="fab fa-twitter-square"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://www.snapchat.com/add/perla.sa1"
                      target="_blank"
                    >
                      <i class="fab fa-snapchat-square"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://instagram.com/1perla.sa?igshid=17h4rluss7f7q"
                      target="_blank"
                    >
                      <i class="fab fa-instagram-square"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/channel/UCLdL8wxw3fU4hBMK1uFr2bg"
                      target="_blank"
                    >
                      <i class="fab fa-youtube-square"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-6 text-center">
              <div class="join-us">
                <h6 class="text-center">شارك التطبيق من خلال</h6>
                <ul class="text-center">
                  <li>
                    <nuxt-link to>
                      <i class="fab fa-facebook-square"></i>
                    </nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to>
                      <i class="fab fa-twitter-square"></i>
                    </nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to>
                      <i class="fab fa-snapchat-square"></i>
                    </nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to>
                      <i class="fab fa-instagram-square"></i>
                    </nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to>
                      <i class="fab fa-youtube-square"></i>
                    </nuxt-link>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="last-part">
      <div class="container">
        <div class="copyright">
          <h6>
            بكل حب
            <i style="color: #febe06;" class="fas fa-heart"></i> جميع الحقوق
            محفوظة &copy;
          </h6>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl {
  $left: right;
  $right: left;
} @else {
  $left: left;
  $right: right;
}

* {
  direction: $dir !important;
  text-align: $left;
}
.footer {
  color: #fff;
  background-color: #282828;
  padding: 38px 0 0 0;
  .part-one {
    padding-bottom: 38px;
    .foot-item {
      margin-bottom: 15px;
      .mobil-apps {
        overflow: hidden;
        width: 66%;
        margin-right: 27px;

        > div {
          width: 50%;
          float: $left;
          i {
            font-size: 32px;
            transition: all 0.3s linear;
            &:hover {
              color: #febe06;
              cursor: pointer;
            }
          }
        }
        .fa-android {
          font-size: 40px;
        }
      }
      svg {
        width: 39px;
        margin-left: 5px;
      }
      h6 {
        font-weight: bold;
        font-size: 21px;
        color: #febe06;
      }
      p {
        color: #c7c7cd;
      }
      .follow-us {
        position: relative;
        width: 80%;
        label {
          position: absolute;
          color: #ffffff;
          top: 0px;
          left: 0px;
          /* font-weight: bold; */
          font-size: 20px;
          background: rgb(254, 190, 6);
          padding: 4px 12px;
          border-radius: 5px;
        }
      }
      .logo {
        transition: all 0.3s linear;
        cursor: pointer;
        text-align: $left;

        &:hover {
          h2,
          span {
            color: #febe06;
          }
        }
        h2 {
          font-size: 55px;
          text-align: $left;
          margin-bottom: 0;
          font-family: "Metal Mania", cursive;
          transition: all 0.4s linear;
        }
        span {
          transition: all 0.4s linear;
        }
      }
    }
  }
  .logo img {
    width: 98%;
    height: 76%;
    margin-top: 0px !important;
    border-radius: 10px;
  }
  .second-part {
    background-color: #323232;
    padding-bottom: 20px;
    border-bottom: 1px solid #464646;
    .foot {
      padding: 15px 0;
      .sitemap {
        ul {
          li {
            color: #c7c7cd;
          }
          .head {
            font-weight: bold;
            list-style: none;
            color: #fff;
            font-size: 16px;
          }
        }
      }
      .join-us {
        h6 {
          font-weight: bold;
          list-style: none;
          color: #febe06;
          font-size: 16px;
        }
        ul {
          list-style: none;
          li {
            display: inline-block;
            padding: 0 6px;
            i {
              font-size: 30px;
              color: #f6f6f6;
              transition: all 0.3s linear;
              &:hover {
                color: #febe06;
              }
            }
          }
        }
      }
    }
  }
  .last-part {
    .copyright {
      h6 {
        padding: 15px 0;
        margin: 0;
        font-size: 16px;
      }
    }
  }
}





// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .footer .foot-item{
    text-align: center;
    margin-bottom: 50px !important;
    h6,p{
      text-align: center;
    }
    div{
      margin:auto;
    }
  }
  .footer .part-one .foot-item .mobil-apps{
    margin: auto;
  }
  .footer .part-one .foot-item .mobil-apps > div{
    text-align: center;
  }
  .footer .part-one .foot-item .mobil-apps > div i {
    font-size: 76px !important;
}
.footer .part-one .foot-item .mobil-apps .fa-android {
    font-size: 70px !important;
    margin-top: 15px;
}
.footer .logo img{
  height: 100%;
    margin-top: auto;
    border-radius: 10px;
    border-radius: 10px;
    margin: auto;
}
.foot-cont{
      margin-right: 17px;
      margin-bottom: 30px;
}
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
   .footer .part-one .foot-item .mobil-apps{
    margin: auto;
  }
  .footer .part-one .foot-item .mobil-apps > div{
    text-align: center;
  }
  .footer .part-one .foot-item .mobil-apps > div i {
    font-size: 76px !important;
}
.footer .part-one .foot-item .mobil-apps .fa-android {
    font-size: 70px !important;
    margin-top: 15px;
}
.footer .logo img{
  height: 100%;
    margin-top: auto;
    border-radius: 10px;
    border-radius: 10px;
    margin: auto;
}
.foot-cont{
      margin-right: 17px;
      margin-bottom: 30px;
}
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
  .footer .logo img{
        width: 78% !important;
  }
  .footer .part-one .foot-item h6{
        font-size: 13px !important;
  }
  .footer .part-one .foot-item p{
        font-size: 13px !important;
  }
  .footer .part-one .foot-item .mobil-apps{
    
    width: 100% !important;

  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
  
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  
 }
</style>
