<template lang="html">

  <div id="parentx">

    <vs-button style="padding-top:80px;border-radius:0" @click="active=!active" color="warning" type="filled">
        <i class="fas fa-bars"></i>
        
    </vs-button>
    <vs-sidebar position-right parent="body" default-index="1"  color="warning" class="sidebarx" spacer v-model="active">

      <div class="header-sidebar" slot="header">
        <vs-avatar  size="70px" src="https://randomuser.me/api/portraits/men/85.jpg"/>

        <h4>
          My Name
          <vs-button color="primary" icon="more_horiz" type="flat"></vs-button>
        </h4>

      </div>



      



      <vs-sidebar-item index="1" icon="question_answer">
        الإحصائيات
      </vs-sidebar-item>

      <vs-sidebar-item index="2" icon="gavel">
        عن بيرلا
      </vs-sidebar-item>

      <vs-divider icon="person" position="left">
        User
      </vs-divider>

      <vs-sidebar-item index="3" href="/compitations" icon="verified_user">
        المسابقات
      </vs-sidebar-item>
      <vs-sidebar-item index="4" href="/offers" icon="account_box">
        العروض
      </vs-sidebar-item>
    <vs-sidebar-item index="12" href="/postscomments" icon="account_box">
        استفسارات العملاء
      </vs-sidebar-item>
      <vs-sidebar-item index="20" href="/topics" icon="account_box">
         المقالات
      </vs-sidebar-item>

     <vs-sidebar-group title="المنتاجات" openHover>
        <vs-sidebar-item index="5" href="/categories" icon="https">
          الأقسام
        </vs-sidebar-item>
        <vs-sidebar-item index="6" icon="help">
          جميع المنتاجات
        </vs-sidebar-item>
      </vs-sidebar-group>


      <vs-divider icon="person" position="left">
        User
      </vs-divider>

      <vs-sidebar-item index="7" icon="verified_user">
        تفعيل الحسابات
      </vs-sidebar-item>
      <vs-sidebar-item index="8" icon="account_box">
        بيانات الحساب
      </vs-sidebar-item>
  

      <div class="footer-sidebar" slot="footer">
        <vs-button icon="reply" color="danger" type="flat">تسجيل الخروج</vs-button>
        <vs-button icon="settings" color="primary" type="border"></vs-button>
      </div>

    </vs-sidebar>
  </div>

</template>

<script>
export default {
  data:()=>({
    active:false,
  })
}
</script>

<style lang="scss">
 .vs-sidebar--items{
       &::-webkit-scrollbar {
  width: 10px;
}

/* Track */
&::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
&::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  }

  .vuesax-app-is-ltr .vs-sidebar-group h4 i{
       left:10px !important;
          right:auto !important
  }
.header-sidebar{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;


 
 
  h4{
      i{
          left:10px !important;
          right:auto !important
      }
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    >button{
      margin-left: 10px;
    }
  }
}
.footer-sidebar{
    display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  >button{
      border: 0px solid rgba(0,0,0,0) !important;
      border-left :1px solid rgba(0,0,0,.07) !important;
      border-radius: 0px !important;
  }
}

</style>