<template>
  <div>
      <div  class="to-top-btn">
          <i @click="toTop" class="fas fa-chevron-up"></i>
      </div>
  </div>
</template>

<script>
export default {
mounted(){
    window.onscroll = function() {scrollFunction()};

   var mybutton = document.querySelector('.to-top-btn')

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}


},
methods:{
    toTop: function(){
        window.scrollTo(0,0)
    }
}
}
</script>

<style lang="scss">
html {
  scroll-behavior: smooth;
}
.to-top-btn{
       position: fixed;
        bottom: 10px;
    left: 10px;
    padding: 7px 12px;
    background: #febe06;
    z-index: 9;
    border-radius: 50%;
    animation: pulse 2s infinite;
    display: none;
    i{
    color: #FFF;
    font-size: 31px;
    cursor: pointer;
    }
}
</style>