<template>
  <div class="categories">
      <Loading v-if="isLoading" />
      <div v-else class="container">
         <div class="cate-parent">
             <div class="button"> 
                 <vs-button @click="categoriesPopup=true,photo='',url=''" color="warning" type="line">إضافة قسم جديد</vs-button>
             </div>
             <div class="row">
             <div class="col-md-4" v-for="cate in categories" :key="cate.id">
                      <div class="categorie" >
                          
              <div>
                  <div class="cate-icon">
                  <img :src="cate.photo" alt="">
              </div>
                              <nuxt-link :to="`/categories/${cate.id}`">

              <div class="cate-body">
                  <h5> {{cate.nameAr}} </h5>
                  <span> {{cate.nameEn}} </span>
              </div>
                              </nuxt-link>
              
              <div class="cate-buttons" style="position:relative;z-index:99">
                  <vs-button @click="$router.push(`/categories/${cate.id}/products`)" color="success" type="filled">
                      قائمة المنتاجات
                  </vs-button>

                  <vs-button @click.stop="editCategorie(cate)" color="primary" type="filled">تعديل</vs-button>
<vs-button @click="deleteCategorie(cate)" color="danger" type="filled">حذف</vs-button>

              </div>
              </div>
          </div>
             </div>
         </div>
         </div>
      </div>





         <vs-popup class="holamundo"  title="تعديل بيانات قسم " :active.sync="editCategoriesPopup">
           <div class="form-group">
               <input type="text" v-model="editForm.nameAr" class="form-control" placeholder="الإسم باللغة العربية">
           </div>
           <div class="form-group">
               <input type="text" v-model="editForm.nameEn" class="form-control" placeholder="الإسم باللغة الإنجليزية">
           </div>
            <div class="file-choose">
                  <input type="file" @change="fileSelectedAdd" placeholder="قم بأرفاق أيقونه" />
                  <img v-if="url != ''" style="max-width: 100%; max-height: 80%;" :src="url" />
                  <span v-else>
                    <img src="../../assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div>
                <vs-button color="primary" @click="editCategorieMain" type="filled">تعديل</vs-button>

    </vs-popup>







       <vs-popup class="holamundo"  title="إضافة قسم جديد" :active.sync="categoriesPopup">
           <div class="form-group">
               <input type="text" v-model="form.nameAr" class="form-control" placeholder="الإسم باللغة العربية">
           </div>
           <div class="form-group">
               <input type="text" v-model="form.nameEn" class="form-control" placeholder="الإسم باللغة الإنجليزية">
           </div>
            <div class="file-choose">
                  <input type="file" @change="fileSelectedAdd" placeholder="قم بأرفاق أيقونه" />
                  <img v-if="url != ''" style="max-width: 100%; max-height: 80%;" :src="url" />
                  <span v-else>
                    <img src="../../assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div>
                <vs-button color="primary" @click="addCategorie" type="filled">إضافة</vs-button>

    </vs-popup>


  </div>
</template>

<script>
import Loading from '../../components/Loading'
export default {
    components:{
        Loading
    },
    data(){
        return {
            isLoading: true,
            categories: [],
            photo:"",
            url:"",
            categoriesPopup: false,
            editCategoriesPopup: false,
            form:{
                nameAr: "",
                nameEn:""
            },
            editForm:{
                nameAr: "",
                nameEn:""
            },
            currentCate: {}
        }
    },
    created(){
        
        this.$axios.get('categories').then(res => {
            console.log(res)
            this.categories = res.data
        }).finally(() => this.isLoading = false)
    },
    methods:{
         deleteCategorie(cate){
            this.$snotify.confirm("هل تريد حذف القسم المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = true;

              this.$axios
                .delete(`categories/${cate.id}`)
                .then((res) => {
                    console.log(res)
                  let x = this.categories.find((obj) => obj.id === cate.id);
                  let y = this.categories.indexOf(x);
                  this.categories.splice(y, 1);
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch((err) => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                  console.log(err)
                })
                .finally(() => (this.isLoading = false));
            },
          },
          {
            text: "إلغاء",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = false;
            },
          },
        ],
      });
        },
        editCategorie(cate){
            this.editForm = cate
            this.url = cate.photo
            this.photo = cate.photo
            this.editCategoriesPopup = true
        },
        editCategorieMain(){
            let form_date = new FormData()
            form_date.append('nameAr', this.editForm.nameAr)
            form_date.append('nameEn', this.editForm.nameEn)
            form_date.append('photo', this.photo)
            this.isLoading = true
            this.$axios.patch(`categories/${this.editForm.id}`, form_date, {
                    'Content-Type': 'multipart/form-data'

            }).then(res => {
                console.log(res)
                let x = this.categories.find(obj => obj.id == res.data._id)
                let y = this.categories.indexOf(x)
                this.categories[y].nameAr = res.data.nameAr
                this.categories[y].nameEn = res.data.nameEn
                this.categories[y].photo = res.data.photo
                this.editCategoriesPopup= false
                console.log(x)
                this.url = ''
                this.photo = ''
            }).finally(() => this.isLoading = false)
        },
        addCategorie(){
            let form_data = new FormData()
            form_data.append('nameAr', this.form.nameAr)
            form_data.append('nameEn', this.form.nameEn)
            form_data.append('photo', this.photo)
            this.isLoading = true
            this.$axios.post(`categories`, form_data).then(res => {
                console.log(res)
                this.categories.push(res.data)
                this.categoriesPopup = false
            }).finally(() => this.isLoading = false)
        },
        fileSelectedAdd(e){
             if (e.target.files.length > 0) {
                this.url = "";
                // console.log("files", e.target.files);
                this.photo = e.target.files[0];
                this.url = URL.createObjectURL(this.photo);
            }
        },
         fileSelected(e) {
      if (e.target.files.length > 0) {
        this.url = "";
        // console.log("files", e.target.files);
        this.photo = e.target.files[0];
        this.url = URL.createObjectURL(this.photo);
      }
    },
    }
}
</script>

<style lang="scss">
.categories{
     .cate-parent{
                    
                    div.button{
                        button{
                            margin-bottom: 20px;
                        }
                    }
        }
        a{
            &:hover{
                text-decoration: none !important;
            }
        }
    .categorie{
       
        
        padding-bottom: 50px;
        >div{
           background: #FFF;
    overflow: hidden;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
padding:15px;
        }
        .cate-body{
           float: right;
    width: calc(100% - 110px);
    margin-right: 10px;
    margin-top: 13px;
    h5{
        margin-bottom: 0;
        font-weight: bold;
    }
    span{
        color:#969696;
    }
        }
        .cate-buttons{
                clear: both;
    text-align: left;
        }
        .cate-icon{
            width: 80px;
    height: 80px;
    float: right;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #333;
            
            img{
                width: 100%;
                height: 100%;
            border-radius: 50%;

                border: 1px solid #333;
            }
        }
    }
}
</style>