<template>
  <div class="oneTopic">
      <div class="container">
          <div class="topic-head">
              <!-- <h5>{{topic.name}}</h5> -->
          </div>
            <Loading v-if="isLoading" />
          <div v-else class="topics">
              <div @click="$router.push(`/topic/${topic.id}`)" class="topic-card" v-for="topic in topics" :key="topic.id">
                
                    
                      <div class="topic-head">
                          <div>
                              <img style="width:100%;height:100%" :src="topic.image" alt="">
                          </div>
                        <h5> {{topic.name}} </h5>
                    </div>
                
              </div>

              <div v-if="page > 1">
                <vs-pagination :total="totalPages" v-model="page"></vs-pagination>
            </div>
          </div>
      </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading'
export default {
    components:{
        Loading
    },
    data(){
       return {
            topics: [],
            isLoading: true,
            page: 1,
            totalPages: 1,
            isLoading: true,
            comments: [],
            commentRender: false
       }
    },
    watch:{
        commentRender(val){
            if(val == true){
                this.comments
            }
        },
        page: function(val){
            this.$axios.get(`sections/${this.$route.params.id}/topics?page=${this.page}`).then(res => {
                this.topics = res.data.docs
                this.page = res.data.page
                this.totalPages = res.data.totalPages
                console.log(res.data)
            }).finally(() => this.isLoading = false)
        }   
    },
    methods:{
        getComment(id){
            this.$axios.get(`topics/${id}/comments`).then(res => {
                console.log(res.data)
                this.commentRender = !this.commentRender
                this.comments = res.data
            })
        }
    },
    created(){
        // this.$axios.get(`sections/${this.$route.params.id}`).then(res => {
        //     this.topic = res.data
        //     console.log(res.data)
        // }).finally(() => this.isLoading = false)

        this.$axios.get(`sections/${this.$route.params.id}/topics`).then(res => {
            this.page = res.data.page
            this.totalPages = res.data.totalPages

             this.topics = res.data.docs


            console.log("topics",this.topics)
    
            
        }).finally(() => {
            
            this.isLoading = false
        })

        
    }
}
</script>

<style lang="scss">
.oneTopic{
    .topic-card{
        transition:all .5s ease;
        cursor: pointer;
        &:hover{
            transform: translateY(-10px);
        }
            padding-left: 15px;
        background: #FFF;
        margin-bottom: 25px;
        border: 1px solid #ececec;
        box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);

        .topic-head{
            overflow: hidden;
                padding: 10px;
            >div{
                float: right;
                    width: 70px;
    height: 70px;
    overflow: hidden;
    float: right;
    border-radius: 50%;
    border: 1px solid #CCC;
    padding: 1px;
            }
            h5{
                float: right;
                padding-right: 15px;
                color:#333;
                padding-top: 22px;
            }
        }
        .topic-content{
            margin-bottom: 0;
            padding: 7px;
            font-size: 14px;
            color: #848484;
            word-spacing: 2px;
        }
        .vs-collapse{
            padding:0 !important
        }
        .icon-header.vs-collapse-item--icon-header{
            left:0 !important;
            right:auto !important;
            padding:0 !important
        }

        .comments{
            .comment{
                padding:15px;
                .comment-head{
                    img{
                        border:1px solid #CCC;
                        padding:2px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    
    .con-vs-pagination{
        margin: auto !important;
        .vs-pagination--ul{
            margin-bottom: 0 !important;
        }
    }
}
</style>