<template>
  <div class="one-topic">
      <div class="container">
          <div class="row">
             
              <div  class="col-md-12">
                   <Loading v-if="isLoading" />
                  
                  <div v-else class="topic-card">
                     <div class="row">
                         <div class="col-md-3">
                             <div class="user-topic">
                                <div style="margin: auto auto 15px; width: 60px;height: 60px;border-radius: 50%;overflow: hidden;"><img style="width:100%;height:100%" :src="topic.image" alt=""></div>
                                <div> 
                                    <h6 style="background:#FFF;text-align:center;margin-bottom:5px"> الإسم: <span> {{topic.name}} </span> </h6>
                                    <br />
                                    <h6 style="background:#FFF;text-align:center;margin-bottom:5px" v-if="topic.section"> القسم: <span> {{topic.section.name}} </span> </h6>
                                </div>
                             </div>
                         </div>

                         <div class="col-md-9">
                             <div class="report">
                                 {{topic.content}}
                             </div>
                            <button class="toggleComments" @click="commentsValid = !commentsValid"> <i class="fas fa-comment"></i> التعليقات </button>
                             <div v-if="commentsValid" class="comments">
                                 <br />
                                 <form @submit.prevent="AddComment">
                                     <div class="form-group">
                                        <input v-model="addComment" type="text" class="form-control" placeholder="أكتب تعليقك ...">
                                     </div>
                                 </form>
                                 <div class="comment"  v-for="comment in comments.docs" :key="comment.id">
                                     <div style="" class="user-comment-photo">
                                            <img style="" :src="comment.user.photo" alt="">
                                     </div>
                                     <div class="user-comment-content">
                                         <h6> {{comment.user.username}} </h6>
                                         <p> {{comment.content}} </p>
                                     </div>
                                     <div class="operations">
                                         <vs-button v-if="comment.isAuthor" color="success" type="filled"><i class="fas fa-trash-alt"></i> تعديل</vs-button>
                                         <vs-button color="danger" type="filled"><i class="fas fa-trash-alt"></i> حذف</vs-button>

                                     </div>
                                 </div>


                                  <div v-if="page > 1">
                                    <vs-pagination color="warning" :total="totalPages" v-model="page"></vs-pagination>
                                </div>

                             </div>

                             

                         </div>
                     </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading'
export default {
    components:{
        Loading
    },
    data(){
        return {
            commentsValid: true,
            topic: {},
            isLoading: true,
            comments: [],
            totalPages: 0,
            page:0,
            addComment:''
        }
    },
    watch:{
        page:function(val){
            this.isLoading = true
            this.$axios.get(`/topics/${this.$route.params.id}/comments?page=${val}`).then(res => {
                this.comments = res.data
                console.log("Comments",res)
                this.page = res.data.page
                this.totalPages = res.data.totalPages
            }).finally(() => this.isLoading = false)
        }
    },
    created(){
        this.$axios.get(`/topics/${this.$route.params.id}`).then(res => {
            console.log("new ",res)
            this.topic = res.data

            this.$axios.get(`/topics/${this.$route.params.id}/comments`).then(res => {
                this.comments = res.data
                console.log("Comments",res)
                this.page = res.data.page
                this.totalPages = res.data.totalPages
            })
        }).finally(() => this.isLoading = false)
    },
    methods:{
        AddComment(){
            this.$axios.post(`/topics/${this.$route.params.id}/comments`, {
                content: this.addComment
            }).then(res => {
                console.log('res',res.data)
                this.addComment = ''
                res.data.isAuthor = true
                this.comments.docs.unshift(res.data)
            })
        }
    }
}
</script>

<style lang="scss">
.one-topic{
    .vs-pagination--ul{
        margin-bottom: 0 !important;
    }
   .con-vs-pagination{
       margin: auto !important;
   }
    .topic-card{
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
        padding:15px;
        margin-bottom: 30px;
        background-color: #FFF;

        .user-topic{
          
            background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #e8e8e8;
    h6{
        text-align: center;
    }
        }
        .report{
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #f1f1f1;

        }
        .toggleComments{
            margin-top: 10px;
    border: none;
    background: transparent;
    outline: none;
    color: #febe06;
    font-weight: bold;
        }

        .comments{
            .comment{
                overflow: hidden;
                background: #f9f9f9;
    margin: 16px 0;
    padding: 9px;
    border: 1px solid #f1f1f1;
                .user-comment-photo{
                    width:60px;
                    height:60px;
                    float: right;
    margin-top: 6px;
                    overflow:hidden;
                    margin-bottom:15px;
                    float: right;
                    img{
                        width:100%;height:100%;border-radius:50%
                    }
                    
                }
                .user-comment-content{
                    padding-top: 11px;
    padding-right: 15px;
                    float: right;
                }
            }

            div.operations{
                clear: both;
    text-align: left;
    color: #FFF;
                button{
                           margin-top: 10px;
    border: none;
    background: transparent;
    padding: 6px 10px !important;
    outline: none;
                    }
            }

        }
    }
}
</style>