<template>
  <div class="parent">
    
    <div>
      <Navbar />
      <Sidebar />
      <div style="min-height:90vh">
        <nuxt />
      </div>
      <ChatPopUp />
      <ToTopBtn />
      <Footer />
    </div>
     <vue-snotify></vue-snotify>
  </div>
</template>
<script>
import ChatPopUp from "../components/ChatPopUp";
import Navbar from "../components/Navbar";
import Sidebar from "../components/sidebar";
import Loading from "../components/Loading";
import Footer from "../components/Footer";
import ToTopBtn from "../components/ToTopBtn";


export default {
  components: {
    ChatPopUp,
    Navbar,
    Sidebar,
    Loading,
    Footer,
    ToTopBtn
  },
  data() {
    return {
      loading: true
    };
  },
  // mounted() {
  //   setTimeout(() => (this.loading = false), 1500);
  // }
};
</script>
<style lang="scss">


.parent{
      background-image: url('../assets/imgs/clean-textile.png');
}
@font-face {
  font-family: "din";
  src: url("~assets/fonts/din-next-regular.ttf");
}
@font-face {
  font-family: "din-bold";
  src: url("~assets/fonts/din-next-bold.ttf");
}
* {
  font-family: "din", sans-serif;
}



.file-choose {
    margin-bottom: 20px;
                position: relative;
                width: 100%;
                min-height: 200px;
                margin-top: 13px;
                input[type="file"]{
                    position: absolute;
                    width: 100%;
                    /* visibility: hidden; */
                    opacity: 0;
                    height: 100%;
                    cursor: pointer;
                    margin-top: 10px;
                }
                span {
                    border: 1px dashed #444444;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background: #FFF;
                    z-index: -1;
                    margin: 10px 0;
                    height: 100%;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 15px;
                    line-height: 186px;
                    color: #444444;
                }
            }

             input.perlaRadio{
        -webkit-appearance: none;
        border: 2px solid #ddd;
        padding: 10px;
        outline: none;
        border-radius: 43%;
        &:hover {
          cursor: pointer;
        }
        &:checked {
          border: 2px solid #febe06;
          position: relative;
          &::after {
            padding: 7px;
            background-color: #febe06;
            position: absolute;
            top: 3px;
            left: 3px;
            content: "";
            border-radius: 50%;
          }
        }
      }
</style>
