<template>
  <div class="login">
    <!-- <Navbar /> -->
    <div class="form-login">
      <div class="login-head">
        <img src="../assets/imgs/noun_User.png" alt />
        <h3>تسجيل الدخول</h3>
      </div>
      <form action>
        <div class="form-container">
          <div class="centerx">
             <label for>
                    <i class="fas fa-user"></i>
                  </label>
            <vs-input color="warning" label-placeholder="اسم المستخدم" v-model="form.username" />
          </div>
        </div>
        <div class="form-container">
          <div class="centerx">
             <label for style="">
                    <i class="fas fa-lock" ></i>
                  </label>
            <vs-input
              type="password"
              color="warning"
              label-placeholder="كلمة المرور"
              v-model="form.password"
            />
          </div>
        </div>

        <input @click.prevent="login" type="submit" value="تسجيل الدخول" />
        <div class="login-problems">
          <div class="row">
            <div class="col-md-6">
              <div class="pass-forget">
                <nuxt-link to style="color:#333">هل نسيت كلمة السر ؟</nuxt-link>
              </div>
            </div>
            <div class="col-md-6">
              <div class="register">
                <nuxt-link to style="color:#333">ليس لدي حساب سابق</nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- <Footer /> -->
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";

export default {
  components: {
    Navbar,
    Footer
  },
  data() {
    return {
     form:{
        username: "rema73335@gmail.com",
        password: "654312"
      }
    };
  },
  methods:{
     async login() {
       console.log("This is login")
      this.isLoading = true;

      try {
        let response = await this.$auth.loginWith("local", {
          data: this.form,
        });
        localStorage.setItem("account", JSON.stringify(response.data));
        if (response.data.user.role == "admin") {
          this.isLoading = false;
        this.$snotify.success(`مرحبا بك يا ${response.data.user.username}`);
        console.log(response.data)
        this.$auth.setUser(response.data.user)
        console.log(this.$auth.user)

          this.$router.push({
            path: "/statistics",
          });
          // alert("this is admin")
        } else {
          // this.$router.push({ path: "/statistics" });
          alert("sorry you are not admin")
        }
        
      } catch (err) {
        this.isLoading = false;
        this.$snotify.error(`عفوا من فضلك تاكد من اسم المستخدم وكلمة المرور`);
        console.log(err);
      }
    },
  }
};
</script>

<style lang="scss">
.login {

  .input-span-placeholder.vs-input--placeholder.normal.normal.vs-placeholder-label{
     padding-right: 39px;
    padding-top: 10px;
    &:focus{
      padding-right: 39px;
    }
  }
  .vs-inputx.vs-input--input.normal{
    padding-right: 27px;
  }
  .form-login {
    padding-top: 102px;
    width: 27%;
    margin: auto;
    height: 100vh;
    padding: 165px 10px 80px 16px;
    .vs-con-input-label {
      width: 100% !important;
    }
    .vs-inputx.vs-input--input.normal {
      border: 1px solid rgb(254, 189, 1) !important;
      padding-right: 38px;
      padding-bottom: 8px;

    }
    .form-container {
      margin-bottom: 31px;
    }
    .centerx{
      position:relative;
      label{
            position: absolute;
    top: 1px;
    z-index: 2;
    right: 1px;
    color: #a0a0a0;
    background: #EEE;
    padding: 7px 10px;

      }
    }
    input[type="submit"] {
          width: 100%;
    text-align: center;
    padding: 7px;
    background: #febd01;
    border: none;
    outline: none;
    border-radius: 7px;
    box-shadow: 3px 3px 5px 2px #d2d2d2;
    }
    .login-head {
      h3 {
        margin-bottom: 15px;
        display: inline-block;
        margin-right: 14px;
        font-size: 29px;
      }
    }
  }
  .login-problems {
    margin-top: 8px;
  }
}












// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
 .form-login{
   width: 84% !important;
    margin-bottom: 111px !important;
    height: 67vh;
 }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .form-login{
        width: 56% !important;
        height: 67vh;
  }
 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
 .form-login{
   width: 60% !important;
   height: 67vh;
 }
}




// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
 .form-login{
   width: 51%;
   margin-bottom: 0;
 }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}
</style>
