<template>
  <div>
    <!-- <Navbar /> -->
    <div class="orders">
      <div class="container">
        <div class="profile">
          <div class="row">
            <div class="col-md-6">
              <div class="profile-item the-first">
                <div class="profile-item-img">
                  <img
                    src="https://res.cloudinary.com/nile-pharmacy/image/upload/v1558858260/assets/profile-placeholder_hpluxm.jpg"
                    alt
                  />
                </div>
                <div class="profile-item-cont">
                  <div>الاسم:</div>
                  <div>زياد مؤمن السيد</div>
                </div>

                <div class="profile-item-cont">
                  <div>الهاتف:</div>
                  <div>0125622000</div>
                </div>

                <div class="profile-item-cont">
                  <div>بريد الكتروني:</div>
                  <div>email@gmail.com</div>
                </div>

                <div class="profile-item-cont">
                  <div>عنوان:</div>
                  <div>مدينة مكة المكرمة</div>
                </div>
                <div class="profile-item-cont">
                  <div>نقاط المسابقات:</div>
                  <div>
                    <span>327</span>
                    <img src="../assets/imgs/point.png" alt />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="profile-item">
                <div class="col-md-12">
                  <div class="point-cont">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="question-point-cont">
                          <span>
                            <span>88</span>
                            <img src="../assets/imgs/point.png" alt />
                          </span>
                          <h6>المسابقة الاولي</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="profile-item">
                <div class="col-md-12">
                  <div class="point-cont">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="question-point-cont">
                          <span>
                            <span>90</span>
                            <img src="../assets/imgs/point.png" alt />
                          </span>
                          <h6>المسابقة الثانية</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="profile-item">
                <div class="col-md-12">
                  <div class="point-cont">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="question-point-cont">
                          <span>
                            <span>50</span>
                            <img src="../assets/imgs/point.png" alt />
                          </span>
                          <h6>المسابقة الثالثة</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="profile-item">
                <div class="col-md-12">
                  <div class="point-cont">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="question-point-cont">
                          <span>
                            <span>44</span>
                            <img src="../assets/imgs/point.png" alt />
                          </span>
                          <h6>المسابقة الرابعة</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="profile-item">
                <div class="col-md-12">
                  <div class="point-cont">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="question-point-cont">
                          <span>
                            <span>33</span>
                            <img src="../assets/imgs/point.png" alt />
                          </span>
                          <h6>المسابقة الخامسة</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="profile-item">
                <div class="col-md-12">
                  <div class="point-cont">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="question-point-cont">
                          <span>
                            <span>22</span>
                            <img src="../assets/imgs/point.png" alt />
                          </span>
                          <h6>المسابقة السادسة</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="order-tabs">
          <div class>
            <vs-tabs alignment="center">
              <vs-tab label="قيد الانتظار">
                <div class="con-tab-ejemplo">
                  <div class="orders-tabs-grid">
                    <div class="row">
                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </vs-tab>
              <vs-tab label="تم القبول">
                <div class="con-tab-ejemplo">
                  <div class="orders-tabs-grid">
                    <div class="row">
                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </vs-tab>
              <vs-tab label="تم الرفض">
                <div class="con-tab-ejemplo">
                  <div class="orders-tabs-grid">
                    <div class="row">
                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </vs-tab>
              <vs-tab label="جاهز">
                <div class="con-tab-ejemplo">
                  <div class="orders-tabs-grid">
                    <div class="row">
                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </vs-tab>
              <vs-tab label="قيد التوصيل">
                <div class="con-tab-ejemplo">
                  <div class="orders-tabs-grid">
                    <div class="row">
                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </vs-tab>

              <vs-tab label="تم التوصيل">
                <div class="con-tab-ejemplo">
                  <div class="orders-tabs-grid">
                    <div class="row">
                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="or-tb-item">
                          <div class="or-tb-item-head">
                            <h6>
                              <i class="fas fa-calendar-alt"></i>
                              2020-05-22
                            </h6>
                          </div>
                          <div class="or-tb-item-body">
                            <h5>تفاصيل الطلب</h5>
                            <div>
                              <div class="item">المدينة</div>
                              <div class="item">مكة</div>
                            </div>

                            <div>
                              <div class="item">عدد المنتجات</div>
                              <div class="item">20</div>
                            </div>

                            <div>
                              <div class="item">سعر المنتجات</div>
                              <div class="item">
                                490
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="item">
                                السعر بعد القيمة المضافة
                              </div>
                              <div class="item">
                                500
                                <span
                                  style="float:right;font-size:11px;padding-top:5px;"
                                  >SR</span
                                >
                              </div>
                            </div>

                            <button>
                              <i class="fas fa-eye"></i>
                              عرض تفاصيل الطلب
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </vs-tab>
            </vs-tabs>
          </div>
        </div>
      </div>
    </div>

    <!-- <Footer /> -->
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
export default {
  components: {
    Navbar,
    Footer
  }
};
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl {
  $left: right;
  $right: left;
} @else {
  $left: left;
  $right: right;
}

* {
  direction: $dir;
  text-align: $left;
}

.profile {
  margin-bottom: 16px;
  .question-point-cont {
    overflow: hidden;
    padding: 10px 15px;
    background: #f3f3f3;
    border-radius: 5px;
    margin-bottom: 10px;
    h6 {
      margin: 0;
      width: 70%;
      color: #646464;
      float: left;
      padding: 10px 0;
    }
    > span {
      width: 30%;
      float: left;
      display: block;
      text-align: left;
      span {
        font-family: "CustomFontBold";
        font-size: 25px;
        color: #ffba00;
      }
      img {
        width: 30px;
        margin-top: -15px;
      }
    }
  }
  .the-first {
    background: #f3f3f3;
    padding: 10px;
        margin-bottom: 21px;
  }
  .profile-item {
    .profile-item-img {
      width: 100px;
      margin: auto;
      padding-bottom: 13px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .profile-item-cont {
      overflow: hidden;
      padding: 10px;
      background: #fff;
      margin-bottom: 10px;

      > div {
        float: $left;
        width: 50%;
        &:first-of-type {
          width: 30%;
        }
      }
    }
  }
}

.orders {
  padding-top: 102px;

  .order-tabs {
    padding: 10px;
    position: relative;
    &::after {
      background: linear-gradient(
        to right,
        #c0392b 20%,
        #ffba00 20%,
        #ffba00 40%,
        #d35400 40%,
        #d35400 60%,
        #ffba00 60%,
        #ffba00 80%,
        #c0392b 80%
      );
      position: absolute;
      content: "";
      height: 4px;
      right: 0;
      left: 0;
      top: 0;
    }

    .orders-tabs-grid {
      .or-tb-item {
        margin: 10px;
        box-shadow: 1px 0px 5px 3px rgba(238, 238, 238, 0.6902);
        padding: 10px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          transform: translate(0, -10px);
        }
        .or-tb-item-head {
          padding: 5px 10px 5px;
          background: #f5f5f5;
          h6 {
            margin: 0;
            padding: 5px 0;
            i {
              margin: 0 7px;
              color: #ffba00;
            }
          }
        }
        .or-tb-item-body {
          h5 {
            padding-right: 10px;
            border-bottom: 1px solid #eee;
            padding-bottom: 5px;
            padding-top: 5px;
          }

          button {
            width: 100%;
            background: #ffba00;
            text-align: center;
            padding: 8px;
            margin-top: 10px;
            border: 0;
            border-radius: 7px;
            /* color: #FFF; */
            box-shadow: -1px 2px 5px 1px #cecece;
            transition: all 0.5s ease;
            &:hover {
              color: #fff;
            }
          }
          > div {
            overflow: hidden;
            padding: 6px 10px;
            border-bottom: 1px solid #eee;
            div {
              width: 30%;
              float: $left;
              &:first-of-type {
                width: 70%;
              }
            }
          }
        }
      }
    }
  }
}
</style>
