<template>
  <div>
    <div class="index-page">
      <div>
        <div class="dashboard">
          <div class="container">
            <div class="stats">
              <div class="row">
                <div class="col-md-3">
                  <div class="count-students">
                    <h5>الأسئلة كلها</h5>
                    <i class="fas fa-user-graduate"></i>
                    <span>20</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-teachers">
                    <h5>عدد المعلمين</h5>
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>20</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-reports">
                    <h5>عدد المساعدين</h5>
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>20</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-admins">
                    <h5>الأسئلة الاختياري</h5>
                    <i class="fas fa-question"></i>
                    <span>20</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-reports" style="background-color:#40407a">
                    <h5>الأسئلة الأكمل</h5>
                    <i class="fas fa-question"></i>
                    <span>20</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-students">
                    <h5>عدد الأمتحانات</h5>
                    <i class="fas fa-tasks"></i>
                    <span>20</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="count-teachers">
                    <h5>عدد الطالبات</h5>
                    <i class="fas fa-female"></i>
                    <span>20</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-students">
                    <h5>الامتحانات العامة</h5>
                    <i class="fas fa-tasks"></i>
                    <span>20</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-admins">
                    <h5>الأسئلة المركبة</h5>
                    <i class="fas fa-question-circle"></i>

                    <span>20</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-teachers" style="background-color:#218c74">
                    <h5>امتحانات الدروس</h5>
                    <i class="fas fa-file-alt"></i>
                    <span>20</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-reports" style="background-color:#ff793f">
                    <h5>عدد الدروس</h5>
                    <i class="fas fa-chess-pawn"></i>
                    <span>20</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-students" style="background-color:#474787">
                    <h5>الطلاب الذكور</h5>
                    <i class="fas fa-briefcase-medical"></i>
                    <span>20</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="count-students">
                    <h5>الأسئلة الإنشائية</h5>
                    <i class="fas fa-question"></i>
                    <span>20</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-admins">
                    <h5>عدد التقيمات</h5>
                    <i class="fas fa-smile"></i>

                    <span>20</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="count-reports" style="background-color:#ff793f">
                    <h5>عدد المواد</h5>
                    <i class="fas fa-book"></i>
                    <span>20</span>
                  </div>
                </div>
                <!-- <div class="col-md-3">
                  <div class="count-students" style="background-color:#474787">
                    <h5>عدد المعلمين</h5>
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>{{stats.teachers}}</span>
                  </div>
                </div>-->

                <div class="col-md-3">
                  <div class="count-students" style="background-color:#474787">
                    <h5>السؤال الصوتي</h5>
                    <i class="fas fa-microphone-alt"></i>
                    <span>20</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="count-students">
                    <h5>سؤال صح و خطأ</h5>
                    <i class="fas fa-check"></i>
                    <!-- <i class="fas fa-  time"></i> -->
                    <span>20</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-container">
      <!-- <div class="container">
        <div class="table-head">
          <div class="row">
            <div class="col-md-6">
              <div class="label-search">
                <h5>
                  <i class="fas fa-user-graduate ml-2"></i>
                  أحدث الطلاب
                </h5>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group search-15-users">
                <input placeholder="بحث " type="text" v-model="search" />
              </div>
            </div>
          </div>
        </div>
        <div class="table-body">
          <b-table striped hover :items="filteredList" :fields="fields"></b-table>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
// import Loading from "../components/Loading";
export default {
  // name: "Statistics",
  // middleware: "auth-admin",

  data() {
    return {
     
    };
  },
  
  
  methods: {
   
  },
};
</script>

<style lang="scss">
.table-container {
  font-family: "CustomFontBold";
  .table-body {
    border: 1px solid #eee;
  }
  .label-search {
    font-family: "CustomFontMEdium";
    color: #fff;
    padding-top: 17px;
    padding-right: 12px;
  }
  .table-head {
    background: #0689c5;
  }
  font-family: "CustomFontBold";
  background: #f9f9f9;
  padding: 18px 0;
  .search-15-users {
    width: 100%;
    text-align: left;
    padding-left: 14px;
    input {
      border: 0;
      /* border-radius: 7px; */
      padding: 5px 16px;
      margin-top: 12px;
      border-radius: 4px;
      &::placeholder {
        font-family: "CustomFontLight";
      }
    }
    h5 {
      font-family: "CustomFontBold";
      padding-top: 17px;
      font-size: 22px;
    }
  }
}

.con-expand-users {
  width: 100% !important;
}
.dashboard {
  font-family: "CustomFontBold";
  margin: 45px 0;
  .col-md-3 {
    margin: 10px 0;
    &:hover {
      cursor: pointer;
      i {
        transform: scale(1.2);
      }
    }
  }
  .stats {
    padding: 25px;
    text-align: right;
    i {
      font-size: 62px;
      color: rgba(36, 36, 36, 0.41961);
      transition: all 0.3s linear;
    }
    span {
      display: inline-block;
      font-size: 43px;
      position: absolute;
      bottom: 35px;
      left: 40px;
      color: rgba(36, 36, 36, 0.41961);
    }
    h5 {
      margin-bottom: 30px;
      color: #f5f5f5;
      border-radius: 5px;
      font-size: 21px;
    }
    .count-admins {
      background: #dc3545;
      padding: 23px;
      border: 1px solid #dc3545;
      border-radius: 4px;
    }
    .count-reports {
      background-color: #ffc107;
      padding: 23px;
      border: 1px solid #ffc107;
      border-radius: 4px;
    }
    .count-students {
      background-color: #17a2b8;
      padding: 23px;
      border: 1px solid #17a2b8;
      border-radius: 4px;
    }
    .count-teachers {
      background-color: #28a745;
      padding: 23px;
      border: 1px solid 28a745;
      border-radius: 4px;
    }
  }

  .vs-con-table {
    table {
      direction: ltr !important;
      width: 100%;
    }
  }
}
</style>
