<template>
  <div class="colors-page">
      <div class="container">
          <div class="colors-inner">
              <vs-button @click="addColorPopup = true" type="gradient" color="warning">إضافة لون</vs-button>
              <Loading v-if="isLoading" />
              <div v-else class="fetch-colors">
                  <template>
                      <span class="onecolor" v-for="color in fetchColors" :key="color.id"> 
                      <h6> {{color.colorAr}} </h6>
                      <button @click="editColorHandle(color)"> <i class="fas fa-edit"></i> </button>
                      <button @click="deleteColor(color)"> <i class="fas fa-trash-alt"></i> </button>
                  </span>
                  </template>
              </div>
          </div>
      </div>


       <vs-popup class="holamundo"  title="إضافة لون جديد" :active.sync="addColorPopup">
           <Loading v-if="isLoading" />
     <div v-else>
         <div class="form-group">
             <input type="text" class="form-control" v-model="addColor.colorAr" placeholder="اللون باللغة العربية">
         </div>
         <div class="form-group">
             <input type="text" class="form-control" v-model="addColor.colorEn"  placeholder="اللون باللغة الإنجليزية">
         </div>
         <div class="form-group">
             <input type="text" class="form-control"  v-model="addColor.colorOr"  placeholder="اللون باللغة الأردية">
         </div>
         <div class="form-group">
             <input type="text"  v-model="addColor.perlaColorId"  placeholder="كود اللون" class="form-control">
         </div>

        <vs-button @click="addColorMain" color="warning">إضافة لون</vs-button>

     </div>
    </vs-popup>



     <vs-popup class="holamundo"  title="تعديل لون معين" :active.sync="editColorPopup">
         <Loading v-if="isLoading" />
     <div v-else>
         <div class="form-group">
             <input type="text" class="form-control" v-model="editColor.colorAr" placeholder="اللون باللغة العربية">
         </div>
         <div class="form-group">
             <input type="text"  v-model="editColor.perlaColorId"  placeholder="كود اللون" class="form-control">
         </div>

        <vs-button @click="editColorMain" color="warning">تعديل لون</vs-button>

     </div>
    </vs-popup>

  </div>
</template>

<script>
import Loading  from '@/components/Loading'
export default {
    components:{
        Loading
    },
    data(){
        return {
            addColorPopup: false,
        editColorPopup: false,
        addColor:{
            colorAr: '',
            colorEn: '',
            colorOr: '',
            perlaColorId: '',
        },
        editColor:{
            colorAr: '',
            perlaColorId: '',
        },
        fetchColors:[],
        isLoading: true,
        }
    },
    created(){
        this.$axios.get('colors').then(res => {
            console.log(res)
            this.fetchColors = res.data
        }).finally(() => this.isLoading = false)
    },
    methods:{


        deleteColor(color){
             this.$snotify.confirm("هل تريد حذف اللون المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = true;

              this.$axios
                .delete(`colors/${color.id}`)
                .then((res) => {
                    console.log(res)
                  let x = this.fetchColors.find((obj) => obj.id === color.id);
                  let y = this.fetchColors.indexOf(x);
                  this.fetchColors.splice(y, 1);
                  
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch((err) => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                  console.log(err)
                })
                .finally(() => (this.isLoading = false));
            },
          },
          {
            text: "إلغاء",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = false;
            },
          },
        ],
      });
        },
        editColorHandle(color){
            this.editColorPopup = true;
            this.editColor = color;
        },
        addColorMain(){
            this.isLoading = true;
            this.$axios.post('colors', this.addColor).then(res => {
                console.log(res)
                this.fetchColors.push(res.data)
                this.addColorPopup = false
            }).finally(() => this.isLoading = false)
        },
        editColorMain(){
            this.isLoading = true;
            this.$axios.put(`colors/${this.editColor.id}`, this.editColor).then(res => {
                console.log(res)
                let colorIndex = this.fetchColors.findIndex(obj => obj.id == this.editColor.id)
                this.fetchColors[colorIndex] = res.data
                this.editColorPopup = false
            }).finally(() => this.isLoading = false)
        }
    }
}
</script>

<style lang="scss">
.colors-page{
    .colors-inner{
           box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;

    margin-top: 30px;
    background: #FFF;
    margin-bottom: 30px;
    min-height: 400px;

        .fetch-colors{
                padding: 10px;
    background: #fdfdfd;
    padding: 15px;
    margin-top: 30px;
    border: 1px dashed #CCC;
            .onecolor{
                                margin-left: 15px;

                h6{
                    display: inline-block;
                    margin-left: 15px;
                    margin-bottom: 0;
                }
                button{
                        cursor: pointer;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
        opacity: .5;
        transition:all .5s ease;
        &:hover{
            opacity: 1;
            transform: scale(1.2);
        }

    &:first-of-type{
            color: #0014ff;
    font-size: 21px;
    }
    &:last-of-type{
            color: #ff3a3a;
    font-size: 21px;
    }
                }
               background: #00bf18ba;
    padding: 8px 19px 6px 7px;
    color: #FFF;
    display: inline-block;
    border-radius: 10px;
            }
        }
    }
}
</style>