<template>
  <div class="subcategories">
      <Loading v-if="isLoading" />
      <div v-else class="container">
         <div style="overflow:hidden">
              <div style="float:right;width:50%" class="subcategories-inner">
              <div class="cate-icon"> <img :src="categorie.photo" alt=""> </div>
              <div class="cate-info">
                  <h4> {{categorie.nameAr}} </h4>
              <span> {{categorie.nameEn}} </span>
              </div>
          </div>
          <div style="float: right;width: 50%;padding-top: 130px;padding-bottom: 20px;text-align: left;" class="BackToCate">
              <vs-button @click="$router.push({path:'/categories'})" color="success" type="filled">الرجوع إلي الأقسام</vs-button>
          </div>
         </div>

          <div class="sub-cate-outer">
               <div class="button"> 
                 <vs-button @click="categoriesPopup=true,photo='',url=''" color="warning" type="line">إضافة قسم فرعي جديد</vs-button>
                </div>
               <div class="row">
                   <div class="col-md-4" v-for="subCate in subcategories" :key="subCate.id">
                       <div class="sub-cate-inner">
                           <h6> {{subCate.nameAr}} </h6>
                           <span> {{subCate.nameEn}} </span>

                           <div class="sub-buttons">
                                <vs-button @click="$router.push(`/subcategories/${subCate.id}/products`)" color="success" type="filled">
                      قائمة المنتاجات
                  </vs-button>
                            <vs-button @click="editCategorie(subCate)" color="primary" type="filled">تعديل</vs-button>
                            <vs-button @click="deleteCategorie(subCate)" color="danger" type="filled">حذف</vs-button>
                        </div>
                        </div>
                        
                   </div>
               </div>
          </div>





          
         <vs-popup class="holamundo"  title="تعديل بيانات قسم " :active.sync="editCategoriesPopup">
             <Loading v-if="isLoading"/>
            <div v-else>
                  <div class="form-group">
               <input type="text" v-model="editForm.nameAr" class="form-control" placeholder="الإسم باللغة العربية">
           </div>
           <div class="form-group">
               <input type="text" v-model="editForm.nameEn" class="form-control" placeholder="الإسم باللغة الإنجليزية">
           </div>
            <!-- <div class="file-choose">
                  <input type="file" @change="fileSelectedAdd" placeholder="قم بأرفاق أيقونه" />
                  <img v-if="url != ''" style="max-width: 100%; max-height: 80%;" :src="url" />
                  <span v-else>
                    <img src="../../assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div> -->
                <vs-button color="primary" @click="editCategorieMain" type="filled">تعديل</vs-button>
            </div>

    </vs-popup>






        
       <vs-popup class="holamundo"  title="إضافة قسم جديد" :active.sync="categoriesPopup">
           <Loading v-if="isLoading"/>
           <div v-else>
               <div class="form-group">
               <input type="text" v-model="form.nameAr" class="form-control" placeholder="الإسم باللغة العربية">
           </div>
           <div class="form-group">
               <input type="text" v-model="form.nameEn" class="form-control" placeholder="الإسم باللغة الإنجليزية">
           </div>
            <!-- <div class="file-choose">
                  <input type="file" @change="fileSelectedAdd" placeholder="قم بأرفاق أيقونه" />
                  <img v-if="url != ''" style="max-width: 100%; max-height: 80%;" :src="url" />
                  <span v-else>
                    <img src="../../assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div> -->
                <vs-button color="primary" @click="addCategorie" type="filled">إضافة</vs-button>
           </div>

    </vs-popup>



      </div>
  </div>
</template>

<script>
import Loading from '../../../components/Loading'
export default {
    components:{
        Loading
    },
    data(){
        return {
            isLoading: true,
            categorie: {},
            subcategories:[],
            categoriesPopup: false,
            editCategoriesPopup:false,
            form:{
                nameAr: "",
                nameEn:""
            },
            editForm:{
                nameAr: "",
                nameEn:""
            },
        }
    },
    methods:{
        deleteCategorie(subCate){
            this.$snotify.confirm("هل تريد حذف القسم المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = true;

              this.$axios
                .delete(`sub-categories/${subCate.id}`)
                .then((res) => {
                    console.log(res)
                  let x = this.subcategories.find((obj) => obj.id === subCate.id);
                  let y = this.subcategories.indexOf(x);
                  this.subcategories.splice(y, 1);
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch((err) => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                  console.log(err)
                })
                .finally(() => (this.isLoading = false));
            },
          },
          {
            text: "إلغاء",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = false;
            },
          },
        ],
      });
        },
        editCategorie(subCate){
            this.editForm = subCate,
            this.editCategoriesPopup = true
        },
        editCategorieMain(){
            this.isLoading = true,

            this.$axios.patch(`/sub-categories/${this.editForm.id}`, this.editForm).then(res => {
                console.log(res)
                let x = this.subcategories.find(obj => obj.id == res.data.id)
                let y = this.subcategories.indexOf(x)
                this.subcategories[y].nameAr = res.data.nameAr
                this.subcategories[y].nameEn = res.data.nameEn
                this.editCategoriesPopup= false
            }).finally(()=>this.isLoading = false)
        },
        addCategorie(){
            
            this.$axios.post(`categories/${this.$route.params.id}/sub-categories`, this.form).then(res => {
                console.log(res)
                            
                    this.isLoading = true
                this.subcategories.push(res.data)
                
            }).finally(() => this.isLoading = false, this.categoriesPopup = false)
        }
    },
    created(){
        this.$axios.get(`categories/${this.$route.params.id}`).then(res => {
            console.log(res)
            this.categorie = res.data
            this.subcategories = res.data.subCategories
        }).finally(()=>this.isLoading = false)
    }
}
</script>

<style lang="scss">
.subcategories{
    .subcategories-inner{
        padding-top: 130px;
        padding-bottom: 20px;
        overflow: hidden;
        .cate-icon{
            width:80px;
            height:80px;
            float: right;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #333;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 1px solid #333;
            }
        }
        .cate-info{
           float: right;
    margin-top: 13px;
    margin-right: 15px;
    h4{
        margin-bottom: 0;
        font-weight: bold;
    }
    span{
        color: #969696;
    }
        }


       
    }

     .sub-cate-outer{
    
            padding:10px;
            background: #FFF;
            border:1px dashed #CCC;
            margin-bottom: 80px;
            margin-top: 20px;
            .button{
                margin-bottom: 15px;
            }
            .sub-cate-inner{
                    background: #f3f3f3;
    padding: 23px 14px;
    margin-bottom: 10px;
    h6{
        margin-bottom: 0;
        font-size: 20px;
        font-weight: bold;
    }
    >span{
        color:#969696;
    }
    .sub-buttons{
            text-align: left;
    }
            }
        }
}
</style>