<template>
  <div class="categories-products">
      <loading v-if="isLoading" />
      <div v-else class="container">
          <div class="cate-products">
               <div class="offers-card">
               <div class="row">
             <div class="col-md-4" v-for="pro in products" :key="pro.id">
                 <div class="offers-inner">
                      <div class="thumb-example">
    <!-- swiper1 -->
    <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
      <swiper-slide class="slide-1" v-for="(offerPhoto,index) in pro.photo" :key="index"> 
          <img style="width:100%;height:100%" :src="offerPhoto" alt=""> 
      </swiper-slide>
      
      <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
      <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
    </swiper>
    <!-- swiper2 Thumbs -->
    <!-- <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs">
      <swiper-slide class="slide-1"></swiper-slide>
      <swiper-slide class="slide-2"></swiper-slide>
      <swiper-slide class="slide-3"></swiper-slide>
      <swiper-slide class="slide-4"></swiper-slide>
      <swiper-slide class="slide-5"></swiper-slide>
    </swiper> -->
  </div>

  <div class="offer-body">
      
      <p style="margin-top: 20px;margin-bottom: 0;"> {{pro.description}} </p>
      <h6> الألوان المتاحة: </h6>
      <span v-for="(color,index) in pro.colors" :key="index"> {{color}} </span>
      <div class="offer-price">
          <h6 style="width:100%;text-align:center">السعر :
              <div class="currency"> SR </div>
           <span>
               
               {{pro.itemPrice}}
           </span>
          </h6>

              <b-form-rating class="rating" disabled :value="pro.rating"></b-form-rating>

          
                <h6 style="display:block;margin-bottom:10px;"> النوع :  <span style="background:#585858">{{pro.name}} </span></h6>

      </div>
  </div>

  <div class="offer-footer">
      <!--  -->
      <button @click="EditProduct(pro)"> <i class="fas fa-edit"></i> تعديل </button>
      <button @click="deleteProduct(pro)"> <i class="fas fa-trash"></i> حذف </button>
  </div>
 
  
                 </div>
             </div>
         </div>
          </div>
          </div>
          <div>
                <vs-pagination color="warning"  :total="totalPages" v-model="currPage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination>
            </div>
      </div>






      <vs-popup class="holamundo"  title="تعديل بيانات المنتج" :active.sync="ActiveEditProductPopUp">
        <Loading v-if="isLoading" />
        <div v-else class="row">
            <div class="col-md-12" v-for="(color,index) in formEdit.colors" :key="index">
                <div class="form-groub" style="display:inline-block">
                    <input type="text" placeholder="العنوان" v-model="formEdit.colors[index]" class="form-control">
                </div>
                <vs-button style="display:inline-block" @click="formEdit.colors.push('')" color="success" type="filled">إضافة</vs-button>

            </div>
            <div class="col-md-6">
                 <div class="form-groub">
                    <input type="text" placeholder="النوع" v-model="formEdit.name" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <textarea name=""  placeholder="الوصف" v-model="formEdit.description" id="" rows="10"></textarea>
                <!-- <div class="form-groub">
                    <input type="text" class="form-control">
                </div> -->
            </div>
            
            <div class="col-md-6">
                 <div class="form-groub">
                    <input type="number" v-model="formEdit.oldPrice" placeholder="السعر القديم" class="form-control">
                </div>
            </div>
           
            <div class="col-md-6">
                <div class="form-groub">
                    <input type="number" v-model="formEdit.newPrice" placeholder="السعر الجديد" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="file-choose">
                  <input type="file" @change="fileSelected" multiple placeholder="قم بأرفاق أيقونه" />
                  <span v-if="url.length != 0" >
                                        <img v-for="(x,index) in url" :key="index"  style="width:25%;margin:auto}" :src="url[index]" />

                  </span>
                  <span v-else>
                    <img src="@/assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div>
            </div>
        </div>
        
         
       
       
       
        
        <vs-button @click="EditProductMain" color="primary" type="filled">تعديل العرض</vs-button>

    </vs-popup>


  </div>
</template>

<script>
import Loading from '@/components/Loading'
 import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
  import 'swiper/css/swiper.css'
export default {
    
    components: {
        Loading,
      Swiper,
      SwiperSlide
    },
    data(){
        return {
            selectedPhotos: [],
            isLoading: true,
            swiperOptionTop: {
          loop: true,
          loopedSlides: 5, // looped slides should be the same
          spaceBetween: 10,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          }
        },
        formEdit:{
            title:"",
            name:"",
            description:"",
            oldPrice:"",
            newPrice:"",
           photo:"",
           colors:[]
        },
        url:'',
        currentProduct: {},
        photo:'',
        ActiveEditProductPopUp: false,
            products: [],
            totalPages: 0,
            currPage: 0,
        }
    },
    currentPage: function(val){
        
        this.isLoading = true
            this.$axios.get(`categories/${this.$route.params.id}/products?page=${this.currPage}`).then(res => {
            console.log(res)
            this.products = res.data.docs
            this.totalPages = res.data.totalPages
            this.currPage = res.data.page
        }).finally(() => this.isLoading = false)
        },
        watch:{
            currPage(val){
                window.scrollTo({
                    top:0,
                    behavior:"smooth"
                })
                this.isLoading = true
                this.$axios.get(`categories/${this.$route.params.id}/products?page=${val}`).then(res => {
            console.log(res)
            this.products = res.data.docs
            this.totalPages = res.data.totalPages
            this.currPage = res.data.page
        }).finally(()=> this.isLoading = false)
            }

        },
    created(){
        this.$axios.get(`categories/${this.$route.params.id}/products`).then(res => {
            console.log(res)
            this.products = res.data.docs
            this.totalPages = res.data.totalPages
            this.currPage = res.data.page
        }).finally(()=> this.isLoading = false)
    },
    methods:{
        
 fileSelected(e) {
      if (e.target.files.length > 0) {
        console.log(e.target.files)
        this.selectedPhotos = e.target.files
        this.url = [];
        for(let i = 0 ; i < e.target.files.length ; i++){
            this.url[i] = URL.createObjectURL(e.target.files[i])

        }
                                console.log(this.url)

      }


    },


          deleteProduct(product){
            this.$snotify.confirm("هل تريد حذف القسم المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = true;

              this.$axios
                .delete(`products/${product.id}`)
                .then((res) => {
                    console.log(res)
                  let x = this.products.find((obj) => obj.id === product.id);
                  let y = this.products.indexOf(x);
                  this.products.splice(y, 1);
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch((err) => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                  console.log(err)
                })
                .finally(() => (this.isLoading = false));
            },
          },
          {
            text: "إلغاء",
            action: (toast) => {
              this.$snotify.remove(toast.id);
              this.isLoading = false;
            },
          },
        ],
      });
        },



       
        EditProduct(product){
            this.currentProduct = product,
            this.ActiveEditProductPopUp = true
            this.formEdit = product
            this.url = this.currentProduct.photo
        },
        EditProductMain(){
            let form_data = new FormData()
            // form_data.append('title', this.formEdit.title)
            // form_data.append('name', this.formEdit.name)
            // form_data.append('description', this.formEdit.description)
            // form_data.append('oldPrice', this.formEdit.oldPrice)
            form_data.append('color[0]', this.formEdit.colors[0])
            form_data.append('color[1]', this.formEdit.colors[1])
            // form_data.append('newPrice', this.formEdit.newPrice)
            // form_data.append('photo', this.formEdit.photo)
            for(let i = 0 ; i < this.selectedPhotos.length ; i++){
                form_data.append('photo', this.selectedPhotos[i])
            }
            this.isLoading = true,
            this.$axios.put(`products/${this.currentProduct.id}`, form_data, {
                headers:{'Content-Type': 'multipart/form-data'}
            }).then(res => {
                console.log(res)
                this.currentProduct = res.data
                this.formEdit.photo = res.data.photo
                console.log(this.currentProduct)
                this.ActiveEditProductPopUp = false
                this.photo = ''
            }).finally(() => this.isLoading = false)
        },
    }
}
</script>

<style lang="scss">
.categories-products{
    .cate-products{
        padding-top: 100px;
    }
       box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
padding:10px 10px 0 10px;
    padding-top: 100px;
    padding-bottom: 50px;
    .offers-inner{
        box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
        margin-bottom: 30px;
        transition: all .5s ease;
        padding: 10px;
        cursor: pointer;
        &:hover{
            transform: translateY(-15px);
        }
    }
 .thumb-example {
    height: 225px;
  }
    .swiper {
    .swiper-slide {
        text-align: center;
      background-size: cover;
      background-position: center;
   
    }
    &.gallery-top {
      height: 100%;
      width: 100%;
    }
    &.gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 15 0;
    }
    &.gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    &.gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }
  }

   .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 18px;
    color: #ffbf13;
}
.swiper-button-prev.swiper-button-white, .swiper-button-next.swiper-button-white {
        background: #ffffff;
    padding: 0 21px;
    border-radius: 50%;
    &::after{
        font-weight: bold;
    }
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
        content: 'next';
    font-size: 18px;
    color: #ffbf13;
}

.offer-body{
    >span{
            color: #FFF;
    background: #fe6d06;
    padding: 1px 5px;
    display: inline-block;
    margin: 2px;
    }
    .b-rating-icon{
        color:#febe06 !important;
    }
    h6{
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    font-size: 19px;
    padding-bottom: 0;
    margin-bottom: 5px;
    }
    p{
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
        padding: 0 10px;
    font-size: 14px;
    }
    .offer-price{
        h6{
            display: inline-block;
        }
        .currency{
           display: inline-block;
    font-size: 13px;
    color: #febe06;
    font-weight: bold;
        }
        span{
           display: inline-block;
    padding: 3px 7px;
    background: #585858;
    color: #FFF;
        }
    }
    .old-price{
        background-color:#ffbf13 !important;
        text-decoration: line-through;
    }
}
.offer-footer{
    
    overflow: hidden;
    button{
        color: #FFF;
        outline: none;
        border: none;
        padding:10px;
        
        &:first-of-type{
            display: block;
            width: 50%;
            float: right;
            background-color: #febe06;
            text-align: center;
        }
         &:last-of-type{
             display: block;
            width: 50%;
            float: right;
            background-color: #fe6d06;
            text-align: center;
         }
    }
}
nav.vs-pagination--nav{
    margin-bottom: 20px !important;
ul.vs-pagination--ul{
    margin-bottom: 0 !important;
}
}
.con-vs-pagination{
    text-align: center !important;
    margin: auto !important;
}
}
</style>