<template>
  <div class="container">
     <div>
          <div class="offers">
          <div class="offers-btns">
              <vs-button @click="ActiveAddPopUp = true" style="margin-bottom:20px;outline:none;" type="line" color="warning">إضافة عرض جديد</vs-button>

          </div>
          <Loading v-if="isLoading" />
          <div v-else class="offers-card">
               <div class="row">
             <div class="col-md-4" v-for="offer in offers" :key="offer.id">
                 <div class="offers-inner">
                      <div class="thumb-example">
    <!-- swiper1 -->
    <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
      <swiper-slide class="slide-1" v-for="(offerPhoto,index) in offer.photo" :key="index"> 
          <img style="width:100%;height:100%" :src="offerPhoto" alt=""> 
      </swiper-slide>
      
      <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
      <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
    </swiper>
    <!-- swiper2 Thumbs -->
    <!-- <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs">
      <swiper-slide class="slide-1"></swiper-slide>
      <swiper-slide class="slide-2"></swiper-slide>
      <swiper-slide class="slide-3"></swiper-slide>
      <swiper-slide class="slide-4"></swiper-slide>
      <swiper-slide class="slide-5"></swiper-slide>
    </swiper> -->
  </div>

  <div class="offer-body">
      <h6> {{offer.title}} </h6>
      <p> {{offer.description}} </p>
      <div class="offer-price">
          <h6 style="width:100%;text-align:center">السعر :
              <div class="currency"> SR </div>
           <span>
               
               {{offer.newPrice}}
           </span>
           بدل من : 
           <div class="currency"> SR </div>
           <span class="old-price">
               
               {{offer.oldPrice}}</span> </h6>
               <h6 style="display:block"> خصم :  <span style="background:#585858">{{offer.discountPercent + '%'}} </span></h6>
                <h6 style="display:block;margin-bottom:10px;"> النوع :  <span style="background:#585858">{{offer.name}} </span></h6>

      </div>
  </div>

  <div class="offer-footer">
      <button @click="EditOffer(offer)"> <i class="fas fa-edit"></i> تعديل </button>
      <button> <i class="fas fa-trash"></i> حذف </button>
  </div>
 
  
                 </div>
             </div>
         </div>
          </div>


          <div>
                <vs-pagination color="warning"  :total="totalPages" v-model="currentPage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination>
            </div>


      </div>


     </div>




    <vs-popup class="holamundo"  title="تعديل بيانات العرض" :active.sync="ActiveEditPopUp">
        <Loading v-if="isLoading" />
        <div v-else class="row">
            <div class="col-md-6">
                <div class="form-groub">
                    <input type="text" placeholder="العنوان" v-model="formEdit.title" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                 <div class="form-groub">
                    <input type="text" placeholder="النوع" v-model="formEdit.name" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <textarea name=""  placeholder="الوصف" v-model="formEdit.description" id="" rows="10"></textarea>
                <!-- <div class="form-groub">
                    <input type="text" class="form-control">
                </div> -->
            </div>
            
            <div class="col-md-6">
                 <div class="form-groub">
                    <input type="number" v-model="formEdit.oldPrice" placeholder="السعر القديم" class="form-control">
                </div>
            </div>
           
            <div class="col-md-6">
                <div class="form-groub">
                    <input type="number" v-model="formEdit.newPrice" placeholder="السعر الجديد" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                 <div class="file-choose" >
                  <input  type="file" multiple="multiple" @change="fileSelected" placeholder="قم بأرفاق أيقونه" />
                  <span v-if="url.length != 0" >
                                        <img v-for="(x,index) in url" :key="index"  style="width:25%;margin:auto}" :src="url[index]" />

                  </span>
                  <span v-else>
                    <img src="../../assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div>
            </div>
        </div>
        
         
       
       
       
        
        <vs-button @click="EditOfferMain" color="primary" type="filled">تعديل العرض</vs-button>

    </vs-popup>








     <vs-popup class="holamundo"  title="إضافة بيانات العرض" :active.sync="ActiveAddPopUp">
         <Loading v-if="isLoading" />
        <div v-else class="row">
            <div class="col-md-6">
                <div class="form-groub">
                    <input type="text" placeholder="العنوان" v-model="formAdd.title" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                 <div class="form-groub">
                    <input type="text" placeholder="النوع" v-model="formAdd.name" class="form-control">
                </div>
            </div>
             <div class="col-md-6">
                 <div class="form-groub">
                    <input type="text" placeholder="رابط الفديو" v-model="formAdd.video" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                 <div class="form-groub">
                    <input type="text" placeholder="اللون الاول" v-model="formAdd.colors[0]" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                 <div class="form-groub">
                    <input type="text" placeholder="اللون الثاني" v-model="formAdd.colors[1]" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <textarea name=""  placeholder="الوصف" v-model="formAdd.description" id="" rows="10"></textarea>
                <!-- <div class="form-groub">
                    <input type="text" class="form-control">
                </div> -->
            </div>
            
            <div class="col-md-6">
                 <div class="form-groub">
                    <input type="number" v-model="formAdd.oldPrice" placeholder="السعر القديم" class="form-control">
                </div>
            </div>
           
            <div class="col-md-6">
                <div class="form-groub">
                    <input type="number" v-model="formAdd.newPrice" placeholder="السعر الجديد" class="form-control">
                </div>
            </div>

             <div class="col-md-6">
                <div class="form-groub">
                    <input type="number" v-model="formAdd.numberOfPieces" placeholder=" عدد القطع المتاحة" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                 <div class="file-choose">
                  <input type="file"  @change="fileSelectedAdd" placeholder="قم بأرفاق أيقونه" />
                  <img v-if="url != ''" style="max-width: 100%; max-height: 80%;" :src="url" />
                  <span v-else>
                    <img src="../../assets/imgs/noun_Camera_1903011.png" /> قم
                    بأرفاق أيقونة للمادة
                  </span>
                </div>
            </div>
        </div>
        
         
       
       
       
        
        <vs-button @click="AddOffer" color="primary" type="filled">إضافة عرض</vs-button>

    </vs-popup>


  </div>
</template>

<script>
import Loading from '@/components/Loading'
  import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
  import 'swiper/css/swiper.css'
  export default {
    name: 'swiper-example-thumbs-gallery',
    title: 'Thumbs gallery with Two-way control',
    components: {
        Loading,
      Swiper,
      SwiperSlide
    },
    data() {
      return {
          isLoading:true,
        swiperOptionTop: {
          loop: true,
          loopedSlides: 5, // looped slides should be the same
          spaceBetween: 10,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          }
        },
        ActiveAddPopUp: false,
        offers: [],
        currentPage: 0,
        totalPages: 0,
        ActiveEditPopUp: false,
        
        url:[],
         photo:[],
        formEdit:{
            title:"",
            name:"",
            description:"",
            oldPrice:"",
            newPrice:"",
           photo:"",
        },
        selectedPhotos: null,

        formAdd:{
            title:"",
            name:"",
            description:"",
            oldPrice:"",
            newPrice:"",
           photo:"",
           colors:["",""],
           numberOfPieces: "",
           video:""
        },
        form_data_multi_imgs: null,
        currentOffer:{}
      }
    },
    created(){
        console.log("url",this.url)
        this.$axios.get('offers').then(res => {
            this.offers = res.data.docs;
            this.currentPage = res.data.page
            this.totalPages = res.data.totalPages
            console.log(res.data)
        }).finally(() => this.isLoading = false)
    },
    watch:{
        currentPage: function(val){
            this.isLoading = true
            this.$axios.get(`offers?page=${this.currentPage}`).then(res => {
                this.offers = res.data.docs;
                this.currentPage = res.data.page
                this.totalPages = res.data.totalPages
            }).finally(() => this.isLoading = false)
        }
    },
    methods:{
        AddOffer:function(){
            let form_data = new FormData()
            form_data.append('name', this.formAdd.name)
            form_data.append('title', this.formAdd.title)
            form_data.append('description', this.formAdd.description)
            form_data.append('oldPrice', this.formAdd.oldPrice)
            form_data.append('newPrice', this.formAdd.newPrice)
            form_data.append('numberOfPieces', this.formAdd.numberOfPieces)
            form_data.append('photo', this.formAdd.photo)
            form_data.append('video', this.formAdd.video)
            form_data.append('colors[0]', this.formAdd.colors[0])
            form_data.append('color[1]', this.formAdd.colors[1])
            this.isLoading = true
            this.$axios.post(`offers`, form_data).then(res => {
                console.log(res.data)
                 this.offers.unshift(res.data) 
                 this.ActiveAddPopUp = false
            }).finally(() => this.isLoading = false)
        },
        fileSelectedAdd(e){
             if (e.target.files.length > 0) {
                this.url = "";
                // console.log("files", e.target.files);
                this.formAdd.photo = e.target.files[0];
                this.url = URL.createObjectURL(this.formAdd.photo);
            }
        },
        fileSelected(e) {
      if (e.target.files.length > 0) {
                this.url = "";
                // console.log("files", e.target.files);
                this.formEdit.photo = e.target.files[0];
                this.url = URL.createObjectURL(this.formEdit.photo);
            }


        // this.formEdit.photo = e.target.files;
        // for(let i = 0 ; i < e.target.files ; i++){
            // this.url[i] = URL.createObjectURL(this.formEdit.photo[i]);
            // this.formEdit.photo[i] = e.target.files[i]
            // this.form_data_multi_imgs.append('x', e.target.files[i])
            //         console.log("form data", this.form_data_multi_imgs)

        // }
    //   }
    },
        EditOffer(offer){
            this.currentOffer = offer,
            this.ActiveEditPopUp = true
            this.formEdit = offer
            this.url = this.currentOffer.photo
        },
        EditOfferMain(){
            let form_data = new FormData()
            form_data.append('title', this.formEdit.title)
            form_data.append('name', this.formEdit.name)
            form_data.append('description', this.formEdit.description)
            form_data.append('oldPrice', this.formEdit.oldPrice)
            form_data.append('newPrice', this.formEdit.newPrice)
            // for(let i = 0 ; i < this.selectedPhotos.length ; i++){
            //     form_data.append('photo', this.selectedPhotos[i])
            // }
                form_data.append('photo', this.formEdit.photo)

            this.isLoading = true,
            this.$axios.put(`offers/${this.currentOffer.id}`, form_data, {

            }).then(res => {
                console.log(res)
                this.currentOffer = res.data
                this.formEdit.photo = res.data.photo
                console.log(this.currentOffer)
                this.ActiveEditPopUp = false
                this.photo = ''
            }).finally(() => this.isLoading = false)
        },
    }
  }
</script>

<style lang="scss">
.offers{
            box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
padding:10px 10px 0 10px;
    padding-top: 100px;
    padding-bottom: 50px;
    .offers-inner{
        box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
        margin-bottom: 30px;
        transition: all .5s ease;
        padding: 10px;
        cursor: pointer;
        &:hover{
            transform: translateY(-15px);
        }
    }
 .thumb-example {
    height: 225px;
  }
 
  .swiper {
    .swiper-slide {
        text-align: center;
      background-size: cover;
      background-position: center;
   
    }
    &.gallery-top {
      height: 100%;
      width: 100%;
    }
    &.gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 15 0;
    }
    &.gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    &.gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }
  }

  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 18px;
    color: #ffbf13;
}
.swiper-button-prev.swiper-button-white, .swiper-button-next.swiper-button-white {
        background: #ffffff;
    padding: 0 21px;
    border-radius: 50%;
    &::after{
        font-weight: bold;
    }
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
        content: 'next';
    font-size: 18px;
    color: #ffbf13;
}
.offer-body{
    h6{
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    font-size: 19px;
    padding-bottom: 0;
    margin-bottom: 5px;
    }
    p{
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
        padding: 0 10px;
    font-size: 14px;
    }
    .offer-price{
        h6{
            display: inline-block;
        }
        .currency{
           display: inline-block;
    font-size: 13px;
    color: #febe06;
    font-weight: bold;
        }
        span{
           display: inline-block;
    padding: 3px 7px;
    background: #585858;
    color: #FFF;
        }
    }
    .old-price{
        background-color:#ffbf13 !important;
        text-decoration: line-through;
    }
}
.offer-footer{
    
    overflow: hidden;
    button{
        color: #FFF;
        outline: none;
        border: none;
        padding:10px;
        
        &:first-of-type{
            display: block;
            width: 50%;
            float: right;
            background-color: #febe06;
            text-align: center;
        }
         &:last-of-type{
             display: block;
            width: 50%;
            float: right;
            background-color: #fe6d06;
            text-align: center;
         }
    }
}
nav.vs-pagination--nav{
    margin-bottom: 20px !important;
ul.vs-pagination--ul{
    margin-bottom: 0 !important;
}
}
.con-vs-pagination{
    text-align: center !important;
    margin: auto !important;
}




}
 
.holamundo{
.vs-popup--content {
    overflow-x: hidden;
}

    .form-groub{
        margin-bottom: 20px;
    }
    textarea{
       resize: none;
    width: 100%;
    border: 1px solid #ced4da;
    padding: 15px;
    border-radius: 4px;
    height: 126px;
    }
}
 
</style>